<script setup lang="ts">
import { PrimeIcons as PI } from '@primevue/core/api'
const userStore = useCurrentUserStore()

const p = defineProps<{
  data: {
    status_shared: string
    status_web: string
    whoami: string
    extra: boolean
  }
}>()

const emit = defineEmits(['click'])

function handleClick() {
  emit('click')
}

const activites = useActivitiesStore()
activites.loadActivityDetails(p.data.nid)

const show = computed(() => (p.data.whoami != 'ap'))

const shared = computed(() => {
  return p.data.status_shared == '1' || p.data.status_web == '1'
})

const toolTip = computed(() => {
  if (p.data.status_shared == '1') {
    if (p.data.status_web == '1') {
      return 'Partagé avec tous. Cliquez pour paramétrer'
    }
    else {
      return 'Partagé entre enseignants. Cliquez pour paramétrer'
    }
  }
  else {
    return 'Cliquez pour partager'
  }
})

const sharedIconClass = computed(() => {
  if (p.data.status_shared == '1') {
    if (p.data.status_web == '1') {
      return PI.GLOBE
    }
    else {
      return PI.CLONE
    }
  }
})

// uid is needed for BibReviews
p.data.uid = userStore.user?.uid

const visible = ref(false)
</script>

<template>
  <template v-if="show">
    <div v-if="!p.data.extra">
      <Skeleton />
    </div>
    <div v-else class="bib">
      <button @click.stop="handleClick" :aria-label="'partage : ' + shared">
        <div v-tooltip.top="{ value: toolTip, showDelay: 300, hideDelay: 100 }" :class="{ shared: shared }">
          <i v-if="sharedIconClass" :class="sharedIconClass" class="globe" />
          <i :class="PI.SHARE_ALT" />
        </div>
      </button>
      <template v-if="data.nb_reviews">
        <div @click.stop="visible = true" class="cursor-pointer">
          <OverlayBadge :value="data.nb_reviews" size="small" :severity="shared ? '' : 'secondary'">
            <i class="pi pi-comments" :class="{ 'text-gray-400': !shared }" style="font-size: 1rem" />
          </OverlayBadge>
        </div>
      </template>
    </div>
  </template>

  <Dialog v-model:visible="visible" maximizable modal :header="data.title"
    :breakpoints="{ '1199px': '75vw', '575px': '90vw' }" :style="{ width: '60%' }" dismissable-mask>
    <BibReviews :activity="data" />
  </Dialog>
</template>

<style scoped>
.shared i {
  color: green;
  font-weight: bold;
  font-size: 1.0rem
}

.globe {
  position: relative;
  bottom: 0.9em;
  left: 0.5em;
}

.bib {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  flex-direction: column;
}
</style>
