<script setup>
const tags = useTagsStore()

const props = defineProps({
  data: Object,
  tmp: Object,
  singleToTag: Number,
})

const emit = defineEmits(['tagging'])

const getName = (id) => {
  const obj = tags.flatTags.find(o => o.id == id)
  return { label: obj ? obj.label : '', color: obj ? obj.color : '' }
}

const workingTags = computed(() => {
  return props.tmp || props.data
})

const testSet = computed(() => {
  return new Set([...(props.data.tags || []), ...(props.tmp?.tags || [])])
})
</script>

<template>
  <div class="flex flex-row justify-between items-center">
    <div
      class="absolute top-0 right-0 h-full w-full items-end flex flex-col justify-center opacity-0 hover:opacity-90 hover:bg-[rgba(255,255,255,0)] bg-[var(--p-datatable-row-hover-background)]"
      :class="singleToTag == data.nid ? 'opacity-20 bg-[rgba(255,255,255,0)]' : 'opacity-0'">
      <Button v-tooltip.bottom="'Étiqueter cette activité'" icon="pi pi-tags" class="mr-2"
        aria-label="Étiqueter cette activité" @click="emit('tagging', $event, props.data.nid)" />
    </div>
    <div>
      <span v-for="tag in testSet" :key="workingTags.nid + tag" class="whitespace-nowrap flex flex-row items-center"
        :class="props.data.tags.includes(tag) ? (workingTags.tags.includes(tag) ? '' : 'line-through') : 'italic'">
        <i class="pi pi-tag mr-2" :style="'color:' + getName(tag).color" />
        {{ getName(tag).label }}{{ props.data.tags.includes(tag) ? (workingTags.tags.includes(tag) ? '' : '') : '*' }}
      </span>
    </div>
  </div>
</template>

<style scoped>
.etiquette {
  cursor: default;
}

.poubelle {
  display: none;
  position: absolute;
  left: 100%;
  bottom: -50%;
  padding-left: 0.3rem;
  z-index: 1;
}

.parent {
  position: relative;
}

.parent:hover .poubelle {
  display: inline;
}
</style>
