<script setup lang="ts">
const $route = useRoute()
definePageMeta({
  validate({ params }) {
    return /^\d+$/.test(params.nid as string)
  },
})

const dd = ref(true)
</script>

<template>
  <div class="mt-4">
    <AssignmentStudentList
      v-model="dd"
      :nid="parseInt($route.params.nid as string)"
    />
  </div>
</template>
