<script setup lang="ts">
import FlashActivities from './FlashActivities.vue'
import Groups from './Groups.vue'
import Search from './Search.vue'

const search = ref('')
const showFlash = ref(false)
const dispGroups = computed(() => (search.value.length == 0))
</script>

<template>
  <Card class="mb-4 mt-2 rounded-t-none">
    <template #content>
      <div class="flex flex-row justify-between flex-wrap items-center">
        <IconField icon-position="left">
          <InputIcon>
            <i class="pi pi-search" />
          </InputIcon>
          <InputText
            v-model="search"
            class="w-96"
            placeholder="Rechercher parmi les types d'activité"
          />
        </IconField>
        <div class="flex flex-row gap-4">
          <Button
            label="⚡ Flash"
            severity="primary"
            @click="showFlash = true"
          />
        </div>
      </div>
    </template>
  </Card>
  <Groups v-if="dispGroups" />
  <Search v-else :search="search" />
  <FlashActivities v-model="showFlash" />
</template>
