<script setup lang="ts">

const visible = defineModel<boolean>();

function goFlash(url: string) {
  window.location.assign(url)
}
</script>

<template>
  <Dialog v-model:visible="visible" modal class="md:w-5/6 xl:w-10/12" dismissable-mask>
    <template #header>
      <div class="text-lg font-bold">
        ⚡ Activités Flash
      </div>
    </template>
    <Message class="mb-4">
      Les applications listées ici ne sont pas complètement intégrées dans Capytale : elles ne
      permettent pas de sauvegarder, de partager ou de diffuser des contenus à la classe.<br>
      Elles sont proposées en test pour vous permettre de nous faire des retours sur leur intérêt pédagogique.
    </Message>
    <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4">
      <Card class="hover:shadow-md" :dt="{ 'body.padding': '1.5rem 1.5rem 0.5rem 1.5rem' }" :pt="{ body: 'pc-body' }">
        <template #content>
          <div class="flex flex-row gap-4 justify-start items-center w-full">
            <img
              src="https://capytale2.ac-paris.fr/web/modules/custom/capytale_activity/src/Activity/logo/logo_linux.svg"
              class="w-24">
            <div>
              <div class="text-lg font-semibold">
                Console Linux
              </div>
              <div class="text-base">
                GNU/Linux : découvrir la ligne de commande.
              </div>
            </div>
          </div>
        </template>
        <template #footer>
          <div class="flex flex-row justify-end gap-2 mt-2">
            <Button label="Démarrer" severity="primary" @click="goFlash('/p/v86')" />
          </div>
        </template>
      </Card>
      <Card class="hover:shadow-md" :dt="{ 'body.padding': '1.5rem 1.5rem 0.5rem 1.5rem' }" :pt="{ body: 'pc-body' }">
        <template #content>
          <div class="flex flex-row gap-4 justify-start items-center w-full">
            <img
              src="https://capytale2.ac-paris.fr/web/modules/custom/capytale_activity/src/Activity/logo/logo_pixeludo.svg"
              class="w-24">
            <div>
              <div class="text-lg font-semibold">
                Pixeludo
              </div>
              <div class="text-base">
                Jouer avec les déplacements relatifs
              </div>
            </div>
          </div>
        </template>
        <template #footer>
          <div class="flex flex-row justify-end gap-2 mt-2">
            <Button label="Démarrer" severity="primary" @click="goFlash('/p/pixeludo')" />
          </div>
        </template>
      </Card>
    </div>
  </Dialog>
</template>