<script setup lang="ts">
import ActiCard from './ActiCard.vue'

import { useActivityTypesList } from '~/stores/activityTypes/list'
import { useActivityTypeFavorites } from '~/stores/activityTypes/favorites'
import { useActivityTypeWeights } from '~/stores/activityTypes/weights'

const atl = useActivityTypesList()
const atf = useActivityTypeFavorites()
const atw = useActivityTypeWeights()

const openedGroup = shallowRef<{ readonly title: string, readonly activities: readonly string[] }>()

const dialogOpened = ref(false)

watch(dialogOpened, (v) => {
  if (!v) {
    openedGroup.value = undefined
  }
})

watch(openedGroup, (v) => {
  if (v != null) {
    dialogOpened.value = true
  }
})

const availableGroups = computed(() => {
  const groups: ((typeof atw)['groups'][number])[] = [];
  for (let i = 0; i < atw.groups.length; i++) {
    const activities = atw.groups[i].activities.filter((type) => atl.typeIsAvailable(type))
    if (activities.length > 0) {
      groups.push({
        ...atw.groups[i],
        activities,
      })
    }
  }
  return groups
})

const groupsWithFav = computed(() => {
  if (atf.showFavorites) {
    return [
      {
        title: 'Mes Favoris',
        icon: 'pi pi-star-fill text-yellow-400',
        activities: atf.favoriteTypes,
        isFavorites: true,
      },
      ...availableGroups.value,
    ]
  }
  else {
    return availableGroups.value
  }
})
</script>

<template>
  <div class="grid lg:grid-cols-4 sm:grid-cols-3 gap-4 mb-4">
    <Card v-for="obj of groupsWithFav" :key="obj.title"
      class="hover:ring-capycolor-400 hover:ring-2 hover:cursor-pointer" @click="openedGroup = obj"
      :aria-label="obj.title">
      <template #header>
        <div class="text-center font-bold pt-3">
          <span v-tooltip="obj.tooltip && { value: obj.tooltip, showDelay: 300, hideDelay: 100 }" v-html="obj.title" />
          <i v-if="obj.icon" :class="obj.icon" />
        </div>
      </template>
      <template #content>
        <div class="flex flex-wrap">
          <template v-for="type in obj.activities">
            <img v-if="atl.typeIsAvailable(type)" :key="type" :src="atl.getTypeInfo(type)?.icon.path" class="w-12 m-1">
          </template>
          <template v-if="obj.isFavorites && obj.activities.length == 0">
            <p>Aucune activité favorite. </p>
            <p>Ajoutez-en en cliquant sur une des icônes <i class="pi pi-star" /> </p>
          </template>
        </div>
      </template>
    </Card>
  </div>
  <Dialog v-model:visible="dialogOpened" modal class="md:w-5/6 xl:w-10/12" dismissable-mask>
    <template #header>
      <div class="text-lg font-bold" v-html="`Catégorie ${openedGroup?.title} : Choix des activités`" />
    </template>
    <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4">
      <template v-for="type in openedGroup?.activities">
        <ActiCard v-if="atl.typeIsAvailable(type)" :key="type" :type="type" />
      </template>
    </div>
  </Dialog>
</template>
