<script setup lang="ts">
import Groups from './Groups.vue'
import Search from './Search.vue'

const search = ref('')
const dispGroups = computed(() => (search.value.length == 0))
</script>

<template>
  <div class="m-2">
    <IconField icon-position="left">
      <InputIcon>
        <i class="pi pi-search" />
      </InputIcon>
      <InputText v-model="search" class="w-96" placeholder="Rechercher parmi les types d'activité" />
    </IconField>
  </div>
  <div class="overflow-y-auto">
    <Groups v-if="dispGroups" />
    <Search v-else :search="search" />
  </div>
</template>
