<script lang="ts">
const seuil = 0.3;
</script>

<script setup lang="ts">
import Fuse from 'fuse.js'
import { useActivityTypesList } from '~/stores/activityTypes/list'

import ActiCard from './ActiCard.vue'

const p = defineProps<{
  search: string
}>()


const atl = useActivityTypesList()

const fuse = new Fuse<{ type: string }>([], {
  keys: [
    {
      name: 'name',
      weight: 200,
      getFn: (obj) => {
        if (obj == null) return ''
        const i = atl.getTypeInfo(obj.type)
        if (i == null) return ''
        return i.name
      },
    },
    {
      name: 'description',
      weight: 50,
      getFn: (obj) => {
        if (obj == null) return ''
        const i = atl.getTypeInfo(obj.type)
        if (i == null) return ''
        return i.description
      },
    },
    {
      name: 'tags',
      weight: 200,
      getFn: (obj) => {
        if (obj == null) return ''
        const i = atl.getTypeInfo(obj.type)
        if (i == null) return ''
        if (i.tags == null) return ''
        return i.tags
      },
    },
  ],
  includeScore: true,
  includeMatches: true,
  minMatchCharLength: 1,
  findAllMatches: true,
})

watchEffect(() => {
  const at = atl.availableTypes.map(type => ({ type }))
  fuse.setCollection(at)
})

const foundItems = computed(() => {
  if (p.search.length == 0) return []
  return fuse.search(p.search)
    .filter((a) => a.score! < seuil)
    .sort((a, b) => a.score! - b.score!)
    .map((a) => a.item)
})
</script>

<template>
  <div class="grid xl:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4">
    <ActiCard v-for="item of foundItems" :key="item.type" :type="item.type" />
  </div>
</template>
