<script setup lang="ts">
definePageMeta({
  layout: 'lti',
})

const menu = [
  {
    title: 'Créer une nouvelle activité vierge',
    icon: 'pi-plus-circle',
    to: '/lti/dl/select',
  },
  {
    title: 'Explorer la bibliothèque',
    icon: 'pi-search',
    to: '/lti/dl/bibliotheque',
  },
  {
    title: 'Utiliser une clef d\'intégration',
    icon: 'pi-key',
    to: '/lti/dl/key',
  },
  {
    title: 'Utiliser une activité Capytale existante',
    icon: 'pi-clone',
    to: '/lti/dl/clone',
  }
]

</script>
<template>
  <div class="flex flex-col items-center justify-center ">
    <h1 class="text-2xl font-bold mt-8">Capytale</h1>
    <p class="text-xl mb-10">Ajouter une activité</p>
    <div class="flex flex-col gap-0">
      <NuxtLink v-for="v,i in menu" :to="v.to" :key="i"
      class="rounded border-transparent hover:border-gray-300 border-2 p-2">
      <i class="pi" :class="v.icon"></i> {{ v.title }}
      </NuxtLink>
    </div>
  </div>
</template>