<script setup lang="ts">
import ActivitySelector from '~/components/ActivitySelector/LtiActivitySelector.vue';

definePageMeta({
    layout: 'lti',
})
</script>

<template>
    <ActivitySelector />
</template>