<script setup lang="ts">
import MetaDataCheckBoxes from './MetaDataCheckBoxes.vue'
import { useBibMetaData } from '@/stores/bib'

const bibMetadata = useBibMetaData()
const model = defineModel<string[]>()
const p = defineProps<{
  invalid: boolean
}>()
</script>

<template>
  <MetaDataCheckBoxes
    v-model="model"
    title="Enseignement(s)"
    :invalid="p.invalid"
    :codes="bibMetadata.enseignementCodes"
    :get-label="bibMetadata.getEnseignementLabel"
  />
</template>
