<script setup>
import Fuse from 'fuse.js'

const searchENT = ref('')
const links = useEnts()

const userStore = useCurrentUserStore()

const fuse = ref(
  new Fuse(links.value, {
    keys: ['region', 'name', 'code'],
    includeScore: true,
    threshold: 0.3,
    minMatchCharLength: 1,
    findAllMatches: true,
  }),
)

watch(links, () => {
  // console.log(typeActivites)
  fuse.value = new Fuse(links.value, {
    keys: ['region', 'name', 'code'],
    includeScore: true,
    threshold: 0.3,
    minMatchCharLength: 1,
    findAllMatches: true,
  })
})

const linksComp = computed(() => {
  if (searchENT.value) return fuse.value.search(searchENT.value).map(el => el.item)
  else return links.value
})

const popENT = ref()
const toggle = (event) => {
  popENT.value.toggle(event)
}

const op = ref()
const toggle2 = (event) => {
  op.value.toggle(event)
}

const menuItems = computed(() => {
  if (userStore.isAuthenticated) {
    return [
      {
        label: userStore.user.firstname + ' ' + userStore.user.lastname, icon: 'pi pi-user',
        items: [{
          label: 'Déconnexion',
          icon: 'pi pi-sign-out',
          url: '/web/user/logout',
        },
        ],
      },
    ]
  }
  else {
    return []
  }
})
</script>

<template>
  <div v-if="userStore.isAuthenticated">
    <Avatar
      :label="userStore.user.firstname[0] + userStore.user.lastname[0]"
      class="mr-2 cursor-pointer"
      :dt="{ width: '2.5rem', height: '2.5rem' }"
      style="color: var(--p-content-color)"
      @click="toggle2"
    />
    <Popover
      ref="op"
      pt:content:style="padding: 0;"
    >
      <Menu :model="menuItems" />
    </Popover>
  </div>
  <div
    v-else
    class="flex flex-row items-stretch"
  >
    <Button
      icon="pi pi-sign-in"
      label="Connexion"
      class="mr-2"
      @click="toggle"
    />
    <Popover ref="popENT">
      <InputText
        v-model="searchENT"
        class="m-2 w-full"
        :autofocus="true"
      />
      <div
        class="grid grid-cols-1 sm:grid-cols-2 p-4 overflow-auto"
        style="max-height: 80vh"
      >
        <a
          v-for="(link, index) of linksComp"
          :key="index"
          :href="link.link"
          class="ent-menu-item flex flex-row p-1 items-center rounded-lg"
          link
        >
          <Avatar
            :image="link.icon"
            class="mr-2"
          />
          <span>{{ link.name }} {{ link.region ? '(' + link.region + ')' : '' }}</span>
        </a>
      </div>
    </Popover>
  </div>
</template>
