<script setup>
const userStore = useCurrentUserStore()
const colorMode = useColorMode()
const { path } = useRoute()
const bgColor = computed(() => colorMode.value === 'light' ? 'background-color: var(--p-neutral-100)' : 'background-color: var(--p-gray-800)')

useHead({
  htmlAttrs: {
    lang: 'fr',
  }
})
</script>

<template>
  <div>
    <ConfirmDialog />
    <DynamicDialog />
    <ArchiveBuilderJobsPanel />
    <Toast position="bottom-right" />
    <div class="appContainer" :style="bgColor">
      <slot />
    </div>
  </div>
</template>

<style>
html,
body,
#__nuxt {
  height: 100%;
  margin: 0;
}

.container {
  max-width: min(calc(100% - 2rem), 1600px);
}


.appContainer {
  height: 100vh;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
}

.dark .p-card {
  border: 1px solid var(--gray-600);
}

.bggray {
  background: var(--p-surface-100);
}

</style>
