<script setup>
import httpClient from '@capytale/activity.js/backend/capytale/http'


const value = ref('{\n"model": "gpt-4o-mini-2024-07-18",\n    "messages": [\n      {\n         "role": "user",\n         "content": "Comment aborder la boucle For en Python ?"\n       }\n   ]\n }')
const pending = ref(false)
const response = ref("nada")


const handleSubmit = async () => {
  let code = value.value
  if (code == null) return
  code = code.trim()
  if (code.length === 0) return
  if (value.value !== code) {
    value.value = code
  }
  try {
    pending.value = true
    response.value = await httpClient.postGetJsonAsync('/web/bara_ia', JSON.parse(code))
    pending.value = false
  }
  catch (e) {
    console.error(e)
  }
}

const clear = () => {
  focus.value = true
}
</script>

<template>
  <Card class="flex-2">
    <template #title>
      <h2 class="flex" style="margin:0px">
        <img src="/media/capybara.png" class="w-10 mr-4">
        OPEN IA assistant POC
      </h2>
    </template>
    <template #content>
      <div class="flex flex-col gap-2 ">
        <div class="flex flex-wrap align-items-center gap-2 my-8">
          <Textarea id="code" v-model="value" auto-resize rows="5" class="w-full" />
          <Button v-if="pending" type="submit">
            <i class="pi pi-spin pi-spinner"></i>
          </Button>
          <Button v-else type="submit" label="Go !" @click="handleSubmit" />
        </div>
      </div>
      <div v-if="response.choices">
        <div class="text-indigo-500">Réponse de l'assistant :</div>
        <pre class="whitespace-pre-wrap text-sm border-4 border-indigo-500">{{ response.choices[0].message.content }}
        </pre>
        <div class="text-gray-600 mt-10">Réponse complète au format json :</div>
        <pre class="whitespace-pre-wrap text-xs border-2 border-gray-500">{{ response }}</pre>
      </div>
      <div v-else>
        Note :
        Dans le backend, la clé 'messages' est préchargée pour le rôle "system" avec :
        <ul class="list-disc ml-4">
          <li> 'content' => 'Vous êtes l'assistant d'un enseignant en collège ou en lycée.' </li>
          <li> 'content' => 'Vous connaissez les programmes de l'éducation nationale Française', </li>
          <li> 'content' => 'Vous êtes concis et efficace', </li>
        </ul>
        Le max_tokens est fixé à 2048 et seul le modèle gpt-4o-mini-2024-07-18 est disponible.
      </div>
    </template>
  </Card>
</template>
