<script setup lang="ts">
import { FilterMatchMode } from '@primevue/core/api'
import { useBibList, useBibMetaData } from '@/stores/bib'

const router = useRouter()
const userStore = useCurrentUserStore()
const iscomitee = computed(() => userStore.user?.roles.includes('bibliotheque_gest'))

const q = useRoute().query

const bibStore = useBibList()
const metaDataStore = useBibMetaData()

const advancedSearch = ref(false)

const filters = ref()

const initFilters = () => {
  filters.value = {
    global: { value: null, matchMode: FilterMatchMode.CONTAINS },
    medal: { value: q.medal, matchMode: FilterMatchMode.CONTAINS },
    title: { value: q.titre, matchMode: FilterMatchMode.CONTAINS },
    abstract: { value: q.desc, matchMode: FilterMatchMode.CONTAINS },
    niveau: { value: q.niveau, matchMode: FilterMatchMode.CONTAINS },
    enseignement: { value: q.enseignement, matchMode: FilterMatchMode.CONTAINS },
    auteur: { value: q.auteur, matchMode: FilterMatchMode.CONTAINS },
    type: { value: q.type, matchMode: FilterMatchMode.IN },
  }
}

initFilters()

watch(filters, () => {
  router.replace({ query: { titre: filters.value.title.value } })
})

const clearFilter = () => {
  initFilters()
}

const previewedActivity = ref<{ nid: number, title: string }>()

const chooseBib = [
  { val: 'ens', label: 'entre enseignants' },
  { val: 'all', label: 'pour tous' },
]

const chosenBib = ref<(typeof chooseBib)[number]['val']>('ens')

const displayedActivities = computed(() => {
  if (userStore.isTeacher) {
    if (chosenBib.value == 'all') {
      return bibStore.list.filter(v => v.for_all)
    }
  }
  return bibStore.list
})


</script>

<template>
  <div>
    <div v-if="!userStore.isAuthenticated" class="mt-12 flex flex-col items-center gap-8">
      Vous devez vous connecter pour accéder à la bibliothèque.
      <EntButton />
    </div>
    <template v-else>
      <BibActivityPreview v-model="previewedActivity" />
      <div v-if="bibStore.status == 'error'">
        <p>Impossible de charger les activités.</p> {{ bibStore.error }}
      </div>
      <template v-else>
        <template v-if="bibStore.status == 'loading'">
          <div>Chargement…</div>
        </template>
        <template v-else>

          <Card class="my-4">
            <template #title></template>
            <template #content>
              <p class="italic">
                Les activités qui s'affichent ici sont partagées sous licence libre
                <a href="https://creativecommons.org/licenses/by-sa/3.0/fr/" class="text-blue-500">Creative Commons
                  By-SA
                  <font-awesome icon="fa-brands fa-creative-commons" class="" />
                </a> et sont soumises à la
                <a href="https://codimd.apps.education.fr/s/DFmyyx6mL#" class="text-blue-500">charte de la
                  bibliothèque</a>.
              </p>
            </template>
          </Card>
          <div class="card">
            <DataTable v-model:filters="filters" :value="displayedActivities as any[]" paginator :rows="10"
              :rows-per-page-options="[5, 10, 20, 50]" data-key="nid"
              :filter-display="advancedSearch ? 'row' : undefined" sort-field="changed" :sort-order="-1"
              :default-sort-order="-1" :global-filter-fields="['title', 'abstract', 'auteur']" class="mydatatable"
              paginator-template="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
              current-page-report-template="Activités partagées {first} à {last} sur {totalRecords} &nbsp; &nbsp;">
              <template #header>
                <div class="flex flex-col xl:flex-row items-start lg:items-center min-h-24 justify-between">
                  <div v-if="userStore.isTeacher" class="titre">
                    Bibliothèque <Select v-model="chosenBib" :options="chooseBib" option-label="label"
                      option-value="val" />
                  </div>
                  <div v-else-if="userStore.isStudent" class="titre">
                    Bibliothèque pour tous
                  </div>
                  <div v-else class="titre">
                    …
                  </div>
                  <div class="flex flex-col md:flex-row gap-2 justify-content-end">
                    <TypeFilterSelect v-model="filters['type'].value" />
                    <IconField icon-position="left">
                      <InputIcon>
                        <i class="pi pi-search" />
                      </InputIcon>
                      <InputText v-model="filters['global'].value"
                        v-tooltip.top="{ value: 'Recherche dans titre, description et auteur', showDelay: 100, hideDelay: 300 }"
                        class="h-full" placeholder="Rechercher" />
                    </IconField>

                    <div class="flex items-center rech-avdancee">
                      <Checkbox v-model="advancedSearch" input-id="advSearch" :binary="true" />
                      <label for="advSearch" class="ml-2 whitespace-nowrap">Rech. avancée</label>
                    </div>

                    <div class="grow flex items-center">
                      <Button
                        v-if="filters['type'].value || filters['global'].value || filters['medal'].value || filters['title'].value || filters['abstract'].value || filters['niveau'].value || filters['enseignement'].value || filters['auteur'].value"
                        type="button" icon="pi pi-filter-slash" label="Annuler" outlined severity="danger"
                        @click="clearFilter()" />
                      <Button v-else type="button" icon="pi pi-filter-slash" label="Annuler" outlined
                        severity="secondary" class="invisible" />
                    </div>
                  </div>
                </div>
              </template>

              <Column field="icon" header="">
                <template #body="p">
                  <MyTableType :data="p.data" />
                </template>
              </Column>

              <Column field="title" header="Titre" class="overflow-hidden max-w-prose">
                <template #body="p">
                  <a class="tablelink" @click="() => { previewedActivity = p.data }">{{ p.data.title }}</a>
                </template>
                <template #filter="{ filterModel, filterCallback }">
                  <InputText v-model="filterModel.value" type="text" placeholder="Rechercher"
                    @input="filterCallback()" />
                </template>
              </Column>

              <template v-if="iscomitee">
                <Column field="review_status" header="Label" class="overflow-hidden max-w-prose" sortable>
                  <template #body="p">
                    <BibMedal :data="p.data" />
                  </template>
                </Column>
              </template>


              <Column field="abstract" header="Description" class="overflow-hidden max-w-prose">
                <template #body="p">
                  <BibAbstract :activity="p.data" />
                </template>
                <template #filter="{ filterModel, filterCallback }">
                  <InputText v-model="filterModel.value" type="text" placeholder="Rechercher"
                    @input="filterCallback()" />
                </template>
              </Column>
              <Column field="niveau" header="Niveau" :show-filter-menu="false">
                <template #body="p">
                  <p v-for="n of p.data.niveau" :key="n">
                    {{ metaDataStore.getNiveauLabel(n) }}
                  </p>
                </template>
                <template #filter="{ filterModel, filterCallback }">
                  <Select v-model="filterModel.value" :options="metaDataStore.niveauCodes as any[]"
                    placeholder="Choisir" style="min-width: 8rem" :show-clear="false" @change="filterCallback()">
                    <template #value="p">
                      <template v-if="p.value">
                        {{ metaDataStore.getNiveauLabel(p.value) }}
                      </template>
                      <template v-else>
                        {{ p.placeholder }}
                      </template>
                    </template>
                    <template #option="p">
                      {{ metaDataStore.getNiveauLabel(p.option) }}
                    </template>
                  </Select>
                </template>
              </Column>

              <Column field="enseignement" header="Enseignement" :show-filter-menu="false">
                <template #body="p">
                  <p v-for="e of p.data.enseignement" :key="e">
                    {{ metaDataStore.getEnseignementLabel(e) }}
                  </p>
                </template>
                <template #filter="{ filterModel, filterCallback }">
                  <Select v-model="filterModel.value" :options="metaDataStore.enseignementCodes as any[]"
                    placeholder="Choisir" style="min-width: 8rem" :show-clear="false" @change="filterCallback()">
                    <template #value="p">
                      <template v-if="p.value">
                        {{ metaDataStore.getEnseignementLabel(p.value) }}
                      </template>
                      <template v-else>
                        {{ p.placeholder }}
                      </template>
                    </template>
                    <template #option="p">
                      {{ metaDataStore.getEnseignementLabel(p.option) }}
                    </template>
                  </Select>
                </template>
              </Column>

              <Column v-if="userStore.isTeacher && chosenBib == 'ens'" field="nb_clone" header="Clones"
                class="overflow-hidden max-w-prose" sortable>
                <template #body="p">
                  <BibClones :data="p.data" />
                </template>
              </Column>

              <Column v-if="userStore.isTeacher && chosenBib == 'ens'" field="nb_reviews" header="Avis"
                class="overflow-hidden max-w-prose" sortable>
                <template #body="p">
                  <BibAvis :data="p.data" />
                </template>
              </Column>

              <Column field="changed" header="Dernière modif." style="max-width:10rem" sortable>
                <template #body="p">
                  <MyTableChanged :data="p.data" />
                </template>
              </Column>

              <Column field="auteur" header="Auteur·e">
                <template #body="p">
                  {{ p.data.auteur }}
                </template>
                <template #filter="{ filterModel, filterCallback }">
                  <InputText v-model="filterModel.value" type="text" placeholder="Rechercher" class="smallsearch"
                    @input="filterCallback()" />
                </template>
              </Column>
            </DataTable>
          </div>
        </template>
      </template>
    </template>
  </div>
</template>

<style scoped>
.titre {
  font-size: 1.5rem;
  font-weight: bold;
}

.clear {
  padding-top: 1em;
}

.smallsearch {
  max-width: 9rem;
}

.rech-avancee {
  padding-left: 2em;
  width: 20rem;
}

.invisible {
  visibility: hidden;
}

.tablelink {
  color: var(--p-primary-color);
  cursor: pointer;
}

.mydatatable {
  display: flex;
  flex-direction: column;

}

.mydatatable>*:nth-child(1) {
  order: 1;
}

.mydatatable>*:nth-child(2) {
  order: 3;
}

.mydatatable>*:nth-child(3) {
  order: 2;

  &>* {
    border-radius: 0;
    background-color: var(--p-surface-100);

    .dark & {
      background-color: var(--p-surface-800);
      border-bottom: 1px solid var(--p-surface-700);
    }
  }
}
</style>
