<template>
  <div>
    <h1> Conditions générales d'utilisation</h1>
    <div class="wrapper">
      <p><strong>1. Objet</strong></p>
      <p>
        Toute Personne physique, Utilisateur identifié pour accéder ou utiliser le service Capytale accepte d'être lié
        par les termes des Conditions Générales d'Utilisation prévues par cet accord.
      </p>
      <p>
        Tout accès et/ou utilisation du service suppose l'acceptation et le respect de l'ensemble des termes des
        présentes Conditions Générales d’Utilisation et leur acceptation inconditionnelle.
      </p>
      <p>
        Ces Conditions Générales d’Utilisation constituent donc un contrat entre l’académie de Paris et l'Utilisateur.
      </p>
      <p>
        Dans le cas où l'Utilisateur identifié ou non ne souhaite pas accepter tout ou partie des présentes conditions
        générales, il lui est demandé de renoncer à tout usage du service et des contenus qui sont disponibles.
      </p>
      <p><strong>2. Définitions </strong></p>
      <p>
        <u>Condition Générale d’Utilisation (« CGU »)</u> : désigne les présentes conditions d’utilisations du Service
        Capytale
      </p>
      <p>
        <u>Service</u> : désigne le service pédagogique Capytale accessible depuis les ENT des académies partenaires
      </p>
      <p>
        <u>Utilisateur identifié</u> : désigne toute personne physique qui visite une ou plusieurs pages du Service
        Capytale
      </p>
      <p><strong>3. Présentation du service</strong></p>
      <p>
        Le projet Capytale proposé par l’académie de Paris est un service numérique pédagogique permettant le partage
        d’activités de codage entre enseignants et élèves. Le système fonctionne entièrement en ligne sans aucune
        installation locale et offre une interface commune pour différentes activités d’apprentissage.
      </p>
      <p><strong>4. Conditions d'accès générales</strong></p>
      <p>
        Tous les coûts afférents à l'accès au service, que ce soient les frais matériels, logiciels ou d'accès à
        internet sont exclusivement à la charge de l'Utilisateur. Il est seul responsable du bon fonctionnement de son
        équipement informatique ainsi que de son accès à Internet.
      </p>
      <p>
        L’académie de Paris met en œuvre tous les moyens raisonnables à sa disposition pour assurer un accès de qualité
        au Service, mais n'est tenu à aucune obligation d'y parvenir.
      </p>
      <p>
        L’académie de Paris ne peut, en outre, être tenue responsable de tout dysfonctionnement du réseau ou des
        serveurs ou de tout autre événement échappant au contrôle raisonnable, qui empêcherait ou dégraderait l'accès au
        Service.
      </p>
      <p>
        L’académie de Paris se réserve la possibilité d'interrompre, de suspendre momentanément l'accès à tout ou
        partie du service, afin d'en assurer la maintenance, ou pour toute autre raison, sans que l'interruption n'ouvre
        droit à aucune obligation ni indemnisation.
      </p>
      <p><strong>5. Règles d'utilisation du service et engagement de l'utilisateur</strong></p>
      <p>L’accès au Service Capytale est réservé aux élèves et aux enseignants disposant d’un compte dans leur ENT.</p>
      <p>L’Utilisateur s’engage à ne pas :</p>
      <ul>
        <li>
          <p>
            Réaliser toute action ou omission dont on pourrait raisonnablement s'attendre à ce qu'elle (i) perturbe ou
            compromette l'intégrité ou la sécurité du Service ou la vie privée de tout autre utilisateur du Service ou
            (ii) cause un dommage imminent et matériel au Service, ou à tout autre utilisateur du Service ;
          </p>
        </li>
        <li>
          <p>Utiliser le service : </p>
          <ul>
            <li>
              <p>
                pour tout but frauduleux, criminel, diffamatoire, de harcèlement ou délictueux, ou pour participer à ou
                promouvoir toute activité illégale ;
              </p>
            </li>
            <li>
              <p>
                pour enfreindre, violer ou porter atteinte à la propriété intellectuelle, à la vie privée ou à d'autres
                droits, ou pour détourner la propriété de tout tiers ;
              </p>
            </li>
            <li>
              <p>
                de transmettre, distribuer ou stocker tout matériel contenant des virus, des bombes logiques, des
                chevaux de Troie, des vers, des logiciels malveillants, des logiciels espions ou des programmes ou
                matériels similaires ;
              </p>
            </li>
            <li>
              <p>
                de transmettre des informations d'identification trompeuses ou inexactes dans l'intention de frauder,
                de causer des dommages ou d'obtenir à tort quelque chose de valeur ;
              </p>
            </li>
            <li>
              <p>
                de transmettre ou de diffuser du matériel ou des messages non sollicités, ou du matériel ou des
                messages de marketing ou de promotion non sollicités, ou du "spam", par le biais d'autres moyens, en
                violation de toute loi ou réglementation applicable ;
              </p>
            </li>
            <li>
              <p>
                de transmettre, distribuer, afficher, stocker ou partager des contenus ou du matériel inappropriés ou
                obscènes ;
              </p>
            </li>
            <li>
              <p>
                tenter de pirater ou d'obtenir un accès non autorisé au Service ou à tout réseau, environnement ou
                système de l’académie de Paris, ou à tout autre utilisateur du Service ;
              </p>
            </li>
            <li>
              <p>
                supprimer, masquer, modifier ou altérer toute marque, logo et/ou avis légal affiché dans ou avec le
                Service.
              </p>
            </li>
          </ul>
        </li>
      </ul>
      <p>
        L’académie de Paris se réserve en tout état de cause la possibilité de suspendre l’accès au Service en cas de
        non-respect par l’Utilisateur des dispositions des présentes Conditions Générales d’Utilisation, de suspendre
        l’accès aux contenus rendu publics qu’il aurait déposé et d’engager sa responsabilité devant toute instance et
        tribunal compétents.
      </p>
      <p><strong>6. Propriété intellectuelle</strong></p>
      <p>
        À l’exception des contenus créés par les Utilisateurs, l’ensemble des éléments qui figurent sur le service sont
        protégés par la législation française sur le droit d'auteur et le droit des marques.
      </p>
      <p>
        L’ensemble des éléments du service, les marques, logos, dessins, graphismes, chartes graphiques, icônes,
        textes, applications, scripts, fonctionnalité, ainsi que leur sélection ou combinaison apparaissant à l’adresse
        <a href="https://capytale2.ac-paris.fr">https://capytale2.ac-paris.fr</a> ou sur les sous-domaines associés,
        sont la propriété exclusive de l’académie de Paris.
      </p>
      <p>
        L’accès au Service n’entraîne aucune cession des droits susvisés. Les droits d’utilisation du Service ne sont
        concédés que sous forme numérique aux fins de visualisation des pages consultées, à titre personnel, non
        cessible et non exclusif. L’utilisateur s’interdit de copier, reproduire, modifier, distribuer, afficher ou
        vendre, par quelque procédé ou forme que ce soit, en tout ou partie, tout élément du service ou se rapportant à
        celui-ci, par quelque procédé que ce soit, et pour toute autre finalité y compris à titre commercial, sans
        l’autorisation préalable et écrite de l’académie de Paris.
      </p>
      <p>
        Les droits d’utilisation des contenus créés sur le service par les Utilisateurs identifiés sont soumis à la
        licence Creative Commons Paternité - Partage à l’identique (CC By-SA). Il appartient à l’Utilisateur identifié,
        seul responsable de la création de ses contenus, de vérifier préalablement à leur dépôt la titularité des
        documents ou des composants des documents ajoutés (photographies, audiogrammes, vidéogrammes, illustrations,
        etc…).
      </p>
      <p>
        En cas d’utilisation illégale ou non autorisée du Service, l’académie de Paris se réserve le droit prendre
        toute mesure adéquate qu’il estime nécessaire et, le cas échéant, d’intenter toute action administrative ou en
        justice appropriée, et/ou de signaler l’infraction aux autorités judiciaires et de police.
      </p>
      <p><strong>7. Sécurité</strong></p>
      <p>
        Compte tenu de l’évolution des technologies, des coûts de mise en œuvre, de la nature des données à protéger
        ainsi que des risques pour les droits et libertés des personnes, l’académie de Paris met en œuvre toutes les
        mesures techniques et organisationnelles appropriées afin de garantir la confidentialité des données à caractère
        personnel collectées et traitées et un niveau de sécurité adapté au risque.
      </p>
      <p>
        Dans le cas où l’académie de Paris confie les activités de traitement de données à des sous-traitants, ces
        derniers seront notamment choisis pour les garanties suffisantes quant à la mise en œuvre des mesures techniques
        et organisationnelles appropriées, notamment en termes de fiabilité et de mesures de sécurité.
      </p>
      <p><strong>8. Limitation de responsabilité</strong></p>
      <p>
        Les liens hypertextes présents sur le Service et renvoyant à un site Internet tiers ne sauraient engager la
        responsabilité de l’académie de Paris.
      </p>
      <p>
        L’académie de Paris n’exerçant aucun contrôle et n’ayant aucune maîtrise sur le contenu de tout site tiers,
        vous y accédez sous votre propre responsabilité.
      </p>
      <p>
        L’académie de Paris ne saurait en aucun cas être tenu responsable du contenu ainsi que des produits ou services
        proposés sur tout site tiers.
      </p>
      <p><strong>9. Modification des CGU</strong></p>
      <p>
        L’académie de Paris se réserve le droit de modifier les termes, conditions et mentions du présent contrat à
        tout moment.
      </p>
      <p>
        Il est ainsi conseillé à l'Utilisateur de consulter régulièrement la dernière version des Conditions Générales
        d'Utilisation disponible sur le Service.
      </p>
      <p>La version actuellement en vigueur est datée du 1er janvier 2021.</p>
      <p><strong>10. Durée et résiliation</strong></p>
      <p>
        Le présent contrat est conclu à compter de la connexion au Service qui vaut acceptation sans réserve des
        présentes Conditions Générales d’Utilisation par l’utilisateur.
      </p>
      <p>
        Le contrat prend fin soit à l’occasion de la suppression du service par l’académie de Paris soit lorsque
        l’utilisateur est désinscrit (automatiquement en cas de non-utilisation durant un an ou bien à sa demande).
      </p>
      <p>
        La résiliation correspond à la suppression du service par l’académie de Paris. Elle n'ouvre droit à aucune
        obligation ni indemnisation à la charge de l’académie de Paris et au profit de l’Utilisateur.
      </p>
      <p>
        Vos données sont traitées par votre établissement d’enseignement et les services de la direction régionale
        académique des systèmes d’information, site de Paris, pour vous offrir une palette d’applications pédagogiques
        relatives au codage (ou programmation) entièrement en ligne.
      </p>

      <p><strong>11. Données à caractère personnel</strong></p>
      <p>
        Conformément à la réglementation en vigueur, et notamment au Règlement Européen °2016/679 du 27 avril 2016 sur
        la protection des données personnelles (RGPD) et à loi informatique et libertés du 6 janvier 1978 (modifiée par
        la loi n° 2018-493 du 20 juin 2018), vous bénéficiez d’un droit d’accès et de rectification aux informations qui
        vous concernent, et des droits de limitation et d'opposition, sous conditions, au traitement de vos données
        personnelles. Vous pouvez exercer ces droits auprès du responsable de traitement ou de son délégué à la
        protection des données. Si vous vous questionnez sur le traitement de vos données personnelles, vous pouvez
        contacter le délégué académique à la protection des données :
      </p>
      <ul>
        <li>
          - Par voie postale : Rectorat de l’académie de Paris - Délégué à la protection des données 12, boulevard
          d’Indochine 75019 Paris
        </li>
        <li>
          - Par courriel : <a href="mailto:dpd@ac-paris.fr">dpd@ac-paris.fr</a>
        </li>
      </ul>
      <p>
        Si, après nous avoir contactés, vous estimez que vos droits sur vos données ne sont pas respectés, vous pouvez
        adresser une réclamation à la CNIL.
      </p>
      <p>
        Pour en savoir plus sur la gestion de ses données et de ses droits, l’Utilisateur peut à tout moment consulter
        la <a href="rgpd">politique de protection des données de Capytale.</a>
      </p>
      <p><strong>12. Dispositions diverses</strong></p>
      <p>
        Si une partie des CGU devait s'avérer illégale, invalide ou inapplicable, pour quelque raison que ce soit, les
        dispositions en question seraient réputées non écrites, sans remettre en cause la validité des autres
        dispositions qui continueront de s'appliquer aux Utilisateurs.
      </p>
      <p>Les présentes CGU sont soumises au droit administratif français.</p>
    </div>
  </div>
</template>

<style scoped>
.wrapper {
margin-top: 1em;
}
a {
  text-decoration: underline;
}
</style>
