<template>
  <div>
    <h1>Contact</h1>

    <div class="wrapper">
      <h2>Liste de discussion</h2>
      <p>La liste de discussion Capytale est ouverte à tous les enseignants.</p>
      <p>S'abonner à la liste Capytale : https://groupes.renater.fr/sympa/subscribe/capytale</p>

      <h2>Nous contacter</h2>
      <p>L'équipe Capytale peut être contactée directement via l’adresse électronique suivante : contact@capytale.fr</p>
    </div>
  </div>
</template>

<style scoped>
.wrapper {
  margin-top: 1em;
}

a {
  text-decoration: underline;
}
</style>
