<template>
  <div>
    <h1> Conditions générales d'utilisation</h1>

    <div class="wrapper">
      <h2>Éditeur</h2>
      <p>
        <b>Académie de Paris</b><br>
        12 boulevard d'Indochine<br>
        75019 Paris<br>
        Tél : 01.44.62.40.40
      </p>

      <h2>Directeur de la publication</h2>
      <p>
        <b>Bernard Beignier</b><br>
        Recteur de la région académique Île-de-France, chancelier des universités, recteur de l'académie de Paris.
      </p>

      <h2>Hébergement</h2>
      <p>
        <b>Académie de Paris</b><br>
        12 boulevard d'Indochine<br>
        75019 Paris<br>
        Tél : 01.44.62.40.40
      </p>

      <h2>Maintenance et développement</h2>
      <p>
        Le suivi technique du site est assuré par direction régionale des systèmes d’information d'île de France, site de
        Paris.
      </p>

      <h2>Nous contacter</h2>
      <p>
        L’académie de Paris vous offre la possibilité de correspondre avec les services en charge de la solution Capytale
        en
        les contactant par l’adresse électronique suivante : contact@capytale.fr
      </p>
    </div>
  </div>
</template>

<style scoped>
.wrapper {
  margin-top: 1em;
}

a {
  text-decoration: underline;
}
</style>
