<template>
  <div>
    <h1>Politique de protection des données personnelles</h1>

    <div class="wrapper">
      <p>
        La présente politique a pour objet de vous informer sur la manière dont votre établissement scolaire et l’éditeur
        de la solution traitent et protègent vos données ainsi que sur les droits dont vous disposez en la matière.
      </p>

      <p>
        Elle consiste aussi à décrire la mise en œuvre de leurs obligations relatives à la protection des données
        personnelles, basées la réglementation en vigueur applicable aux traitements de données à caractère personnel et, en
        particulier :
      </p>
      <ul>
        <li>
          • Le Règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016, dit « Règlement général sur
          la protection des données », ci-après « RGPD » ;
        </li>
        <li>• La Loi n°78-17 du 6 janvier 1978 modifiée relative à l’informatique, aux fichiers et aux libertés ;</li>
        <li>
          • Le décret n° 2019-536 du 29 mai 2019 pris pour l’application de la loi n° 78-17 du 6 janvier 1978
          susmentionnée.
        </li>
      </ul>
      <p>Les termes spécifiques employés dans la présente notice d’information le sont tels que définis par le RGPD.</p>

      <p><b>Pour quelles finalités vos données sont-elles utilisées ?</b></p>

      <p>Le service Capytale permet (d') : </p>
      <ul>
        <li>
          • Offrir une palette d’applications pédagogiques relatives au codage (ou programmation) entièrement en ligne;
        </li>
        <li>• Offrir à chaque utilisateur (enseignant ou élève) une interface de gestion de ses contenus;</li>
        <li>• Permettre les échanges de contenus pédagogiques sous licence libre dans une bibliothèque collaborative;</li>
        <li>• Enregistrer des données anonymisées globales pour les traitements statistiques des usages;</li>
        <li>• Authentifier les utilisateurs.</li>
      </ul>
      <p>
        Vos données sont utilisées au travers de la solution Capytale pour permettre les échanges entre enseignants et
        élèves dans les enseignements scientifiques pour des activités de programmation, de simulation et d’apprentissage
        avec le numérique.
      </p>

      <p><b>Quelles sont les données à caractère personnel traitées ? et d’où proviennent-elles ?</b></p>

      <p>
        Pour fonctionner, Capytale collecte et exploite les catégories de données suivantes :
      </p>
      <ul>
        <li>
          • Des données relatives à l’identification des usagers (Login, nom, prénom, profil d’enseignant ou d’élève,
          établissement d’enseignement).
        </li>
      </ul>
      <p>
        Ces données proviennent soit de l’espace numérique de travail (ci-après « ENT »), soit sont collectées directement
        auprès de l’utilisateur dans le cas où la connexion se fait en dehors de l’ENT.
      </p>
      <ul>
        <li>
          • Pour les utilisateurs ne s’authentifiant pas via leur ENT, l'adresse électronique (obligatoire pour les
          enseignants ; facultative pour les élèves)
        </li>
      </ul>
      <p>
        Ces données sont collectées via l’enseignant utilisateur.
      </p>
      <ul>
        <li>
          • Les contenus créés dans le service Capytale, productions pédagogiques des élèves et des enseignants (les
          appréciations, annotations et évaluations des copies).
        </li>
      </ul>
      <p>
        Ces données sont directement collectées auprès des utilisateurs à partir de leur utilisation des applications
        pédagogiques.
      </p>
      <ul>
        <li>• Des données techniques (Logs, traces techniques, cookies et traceurs) </li>
      </ul>
      <p>Ces données sont collectées automatiquement à partir de votre utilisation de la solution.</p>

      <p><b>Focus sur le dépôt et la lecture de cookies par les services de l’académie</b></p>
      <p><b>Qu’est-ce qu’un cookie ?</b></p>

      <p>
        Un cookie est un petit fichier texte qui peut être placé sur votre terminal à l’occasion de la consultation d’un
        site internet. Un fichier cookie permet à son émetteur d’identifier le terminal (ex : ordinateur, tablette ou
        téléphone mobile) dans lequel il est enregistré, pendant la durée de validité ou d’enregistrement dudit cookie.
      </p>

      <p><b>D’où viennent les cookies ?</b></p>
      <p>
        Les cookies sont déposés et gérés par l’académie, notamment via le logiciel Matomo pour les mesures d’audience.
      </p>

      <p><b>Pourquoi utilisons-nous des cookies ?</b></p>
      <p>
        Les cookies ont des finalités différentes. Certains sont nécessaires à votre utilisation de solution Capytale et
        d’autres ont des finalités plus accessoires.
      </p>

      <p><b>Les cookies nécessaires au fonctionnement du Site</b></p>
      <p>
        Il s’agit de cookies nécessaires à l’authentification à la solution Capytale et à son fonctionnement. Sans ces
        cookies, vous ne pourriez pas utiliser la solution Capytale normalement.
      </p>

      <p><b>Les cookies nécessaires à la mesure d’audience et à la réalisation de statistiques</b></p>
      <p>
        Afin d’avoir une visibilité sur l’utilisation de la solution Capytale, nous utilisons des cookies de mesures
        d’audience. Ces cookies sont gérés via le logiciel libre Matomo pour générer des statistiques anonymisées de
        fréquentation.
      </p>

      <p>
        Pour ces deux finalités, il s’agit de cookies qui ne requièrent ni votre information ni votre accord préalable pour
        être déposés par l’académie sur votre terminal conformément à la délibération n° 2020-091 du 17 septembre 2020 de la
        CNIL (points 49 et 50).
      </p>

      <p><b>Qui sont les destinataires de vos données ?</b></p>
      <p>
        Les services de la direction régionale académique des systèmes d’information site de Paris, qui assurent le
        développement, l’exploitation et les maintenances de la solution Capytale, sont destinataires de vos données à
        caractère personnel.
      </p>
      <p>Le corps enseignant est quant à lui aussi destinataire des données relatives à ses élèves et à leurs travaux. </p>

      <p><b>Quels sont les fondements juridiques des traitements sur vos données personnelles ?</b></p>
      <p>
        Le traitement de vos données à caractère personnel est mis en œuvre conformément aux dispositions du e) du 1 de
        l'article 6 du RGPD susmentionné compte tenu de son caractère nécessaire à l'exécution du service public du
        numérique éducatif prévu à l’article L131-2 du Code de l’éducation.
      </p>

      <p><b>Quelles sont les durées de conservation de vos données à caractère personnel ?</b></p>
      <p>
        Vos données à caractère personnel sont traitées et conservées dans un environnement sécurisé pendant la durée
        nécessaire à la réalisation des finalités pour lesquelles elles ont été collectées selon les règles suivantes :
      </p>
      <ul>
        <li>
          • Suppression des profils et des travaux créés par les enseignants laissée à la discrétion de chaque enseignant
          dans la limite de deux ans après la dernière activité, délai au-delà duquel le profil est supprimé automatiquement
          ;
        </li>
        <li>• Suppression des profils élèves un an après la dernière connexion ;</li>
        <li>• Suppression automatique des travaux des élèves après trois ans ;</li>
        <li>• Suppression des données techniques un an après leur collecte.</li>
      </ul>
      <p><b>Comment vos données sont-elles protégées ?</b></p>
      <p>
        Toutes les mesures techniques et organisationnelles nécessaires sont mises en œuvre pour assurer la sécurité de vos
        données contre la perte, l’utilisation abusive, la divulgation, l’indisponibilité, la modification ou la
        destruction. En particulier :
      </p>
      <ul>
        <li>
          • dès la réception de vos données, nous appliquons des procédures et des mesures de sécurité strictes afin
          d’empêcher tout accès non autorisé, l’accès aux bases de données étant strictement réservé aux personnes
          habilitées à en prendre connaissance dans le cadre de leurs missions ;
        </li>
        <li>
          • aussi, le cas échéant, nous exigeons de nos sous-traitants qu’ils s’engagent à respecter la sécurité et la
          confidentialité de vos données personnelles, et ce par voie contractuelle.
        </li>
      </ul>
      <p><b>Quels sont vos droits sur vos données et comment les exercer ?</b></p>
      <p>
        Les droits d'accès, de rectification, de limitation et d'opposition, sous conditions, prévus par les articles 15,
        16, 18 et 21 du RGPD, s'exercent :
      </p>
      <ul>
        <li>• par voie électronique à l'adresse dpd@ac-paris.fr ;</li>
        <li>
          • ou par courrier postal auprès du délégué académique à la protection des données, 12, Boulevard d’Indochine,
          75019 Paris.
        </li>
      </ul>
      <p>Les droits prévus à l'article 85 de la loi du 6 janvier 1978 susvisée s'exercent de la même manière.</p>
      <p>
        Vous disposez du droit d’introduire une réclamation auprès de l’autorité de contrôle compétente (CNIL) ou d’obtenir
        réparation auprès des tribunaux compétents si vous considérez, après nous avoir contacté, que nous n’avons pas
        respecté vos droits.
      </p>
    </div>
  </div>
</template>

<style scoped>
.wrapper {
  margin-top: 1em;
}

a {
  text-decoration: underline;
}
</style>
