<script setup lang="ts">

const props = defineProps({
  data: Object,
  required: true,
})

const nb = ref(Math.round(10 * 5 * props.data.average_rating / 100) / 10)
const nb_rounded = Math.round(nb.value)

const visible = ref(false)


</script>

<template>
  <div v-tooltip.bottom="{ value: 'Avis et échanges sur cette activité', showDelay: 100, hideDelay: 0 }">

    <div v-if="data.nb_reviews" @click="visible = true" class="cursor-pointer">
      <div class="flex text-blue-500"><i class="pi pi-comments mr-2"></i>
        {{ data.nb_reviews }}
      </div>
    </div>
    <div v-else @click="visible = true" class="cursor-pointer">
      <div class="flex text-blue-500"><i class="pi pi-comments mr-2"></i>
        {{ data.nb_reviews }}
      </div>
    </div>
  </div>

  <Dialog v-model:visible="visible" maximizable modal :header="data.title"
    :breakpoints="{ '1199px': '75vw', '575px': '90vw' }" :style="{ width: '60%' }" dismissable-mask>
    <BibReviews :activity="data" v-model:visible="visible" />
  </Dialog>

</template>

<style scoped>
/* Additionnal CSS in default.vue */
</style>
