<script setup lang="ts">

const props = defineProps({
  data: Object,
  required: true,
})

const nb = ref(Math.round(10 * 5 * props.data.average_rating / 100) / 10)
const nb_rounded = Math.round(nb.value)

const visible = ref(false)


</script>

<template>
  <div
    v-tooltip.bottom="{ value: 'Créez votre propre clone modifiable en cliquant sur le titre puis Cloner.', showDelay: 100, hideDelay: 0 }">

    <div class="flex text-gray-500"><i class="pi pi-clone mr-2"></i>
      {{ data.nb_clone }}
    </div>
  </div>

</template>

<style scoped>
/* Additionnal CSS in default.vue */
</style>
