<script setup lang="ts">
import reviewsApi from '~/api/reviews'
import type { ComiteeReview } from '~/types/reviews'
import type { Activity } from '~/types/activities'
import { useBibList } from '~/stores/bib'

const confirmW = useConfirmWrapper()

const bibStore = useBibList(true)

const props = defineProps<{ activity: Activity }>()
const visible = defineModel<boolean>('visible')
const review = ref<ComiteeReview>({});

const debate = ref(true);
const medal = ref(false);
const accepted = ref(false);
const trash = ref(false);
const askMedal = ref(false);

(async () => {
  review.value = await reviewsApi.getComiteeReview(props.activity.nid)
  if (!review.value) {
    review.value = { message: "", discuss: "", status: "debate" }
  }
  medal.value = review.value.status == "medal"
  accepted.value = review.value.status == "accepted"
  trash.value = review.value.status == "trash"
  if (medal.value || accepted.value || trash.value) { debate.value = false }
  askMedal.value = review.value.ask
})()

const mssg = ref(review.value.message);
const dscss = ref(review.value.discuss);

async function save() {
  const message = mssg.value.innerText
  const discuss = dscss.value.innerText
  const status = debate.value ? "debate" : medal.value ? "medal" : accepted.value ? "accepted" : trash.value ? "trash" : "debate"
  if (status === 'trash') {
    if (await confirmW({
      header: 'Vous allez dépublier',
      message: 'Vous ne serez pas en mesure d\'annuler cette action. Confirmez-vous ?',
      acceptLabel: 'Dépublier',
      severity: 'danger',
    })) {
      const data = { message, discuss, status }
      visible.value = false
      await reviewsApi.saveComiteeReview(props.activity.nid, data)
      bibStore.refresh(props.activity.nid)
    }
  } else {
    const data = { message, discuss, status }
    visible.value = false
    await reviewsApi.saveComiteeReview(props.activity.nid, data)
    bibStore.refresh(props.activity.nid)
  }
}

const mssgStatus = computed(() => {
  if (trash.value || accepted.value || medal.value) {
    return { warn: "Visible par l'auteur", classe: "editable message whitespace-pre-wrap" }
  }
  return { warn: "En rédaction", classe: "editable whitespace-pre-wrap" }
})

</script>

<template>
  <div v-if="askMedal" class="mb-4 p-4 bg-yellow-100 border border-yellow-400 rounded">
    <p>
      Il y a une demande de labellisation pour cette activité.
    </p>
  </div>
  <h2> Privé : Réservé au comité éditorial</h2>
  <p class="m-1">
    <Checkbox v-model="debate" inputId="debate" name="debate" binary
      @click="trash = false; medal = false; accepted = false" />
    <label for="debate">
      <font-awesome icon="comment-dots" class="mx-2 text-xl text-blue-700" />
      Réflexion en cours :
    </label>
  </p>
  <pre ref="dscss" class="editable discuss whitespace-pre-wrap" contenteditable="true">{{ review.discuss }}</pre>

  <h2 class="mt-10"> Public</h2>
  <p class="m-1">
    <Checkbox v-model="medal" inputId="medal" name="medal" binary
      @click="accepted = false; trash = false; debate = false" />
    <label for="medal">
      <font-awesome icon="award" class="mx-2 text-2xl text-purple-700" />
      Grande qualité : Remplit tous les critères de grande qualité
    </label>
  </p>
  <p class="m-1">
    <Checkbox v-model="accepted" inputId="accepted" name="accepted" binary
      @click="medal = false; trash = false; debate = false" />
    <label for="accepted">
      <i class="mx-2 pi pi-check-circle text-green-700" />
      Accepté : Suffisant pour figurer dans la bibliothèque mais ne remplit pas les critères de grande qualité
    </label>
  </p>
  <p class="m-1">
    <Checkbox v-model="trash" inputId="trash" name="trash" binary
      @click="medal = false; accepted = false; debate = false" />
    <label for="trash">
      <i class="mx-2 pi pi-times-circle text-red-500" />
      À dépublier : Partage visiblement par erreur, taille insuffisante, doublon ou plagiat
    </label>
  </p>
  <p class="mt-4">Message à l'auteur ({{ mssgStatus.warn }})</p>
  <pre ref="mssg" :class="mssgStatus.classe" contenteditable="true">{{ review.message }}</pre>
  <div class="flex justify-end gap-2 mt-4">
    <Button label="Annuler" severity="secondary" @click="visible = false" />
    <Button v-if="!trash && !accepted && !medal && !debate" label="Enregistrer" disabled @click="save" />
    <template v-else>
      <Button v-if="!trash && !accepted && !medal" label="Enregistrer" @click="save" />
      <Button v-if="trash" label="Dépublier" icon="pi pi-times-circle" @click="save" severity="danger" />
      <Button v-if="accepted" label="Accepter" icon="pi pi-check-circle" @click="save" severity="success" />
      <Button v-if="medal" @click="save" severity="help">
        <font-awesome icon="award" class="mx-2 text-2xl" />
        Labelliser
      </Button>
    </template>
  </div>
</template>

<style scoped>
/* Additionnal CSS in default.vue */

.editable {
  border: 1px solid #ccc;
  padding: 1em;
  margin: 0.7em 0em;
  min-height: 3rem;
}

.message {
  border: 1px solid blue;
  border-left: 8px solid blue;
}

.discuss {
  border: 1px solid green;
  border-left: 8px solid green;
}

.editable:empty::before {
  content: "​";
}
</style>
