<script setup>

const props = defineProps({
  data: Object,
  required: true,
})

const logo = computed(() => {
  if (props.data.review_status == 'medal') {
    return { type: "fa", icon: 'award', color: 'text-purple-700', tt: 'Cette ressouce a obtenu le label de grande qualité.' }
  } else if (props.data.review_status == 'accepted') {
    return { type: "pi", icon: 'pi pi-check-circle ', color: 'text-green-700', tt: "Cette ressource a été acceptée par le comité." }
  } else if (props.data.review_status == 'trash') {
    return { type: "pi", icon: 'pi pi-times-circle ', color: 'text-red-600', tt: 'Cette ressouce a préalablement été supprimée.' }
  } else if (props.data.has_review_discuss) {
    return { type: "fa", icon: 'comment-dots', color: 'text-blue-700', tt: 'Échanges comité éditorial.' }
  } else {
    return null
  }
})

const ask = computed(() => {
  return props.data.ask == '1'
})

</script>

<template>
  <div v-if="ask" v-tooltip.top="{ value: 'Demande', showDelay: 300, hideDelay: 0 }">
    <i class="pi pi-thumbs-up" />
  </div>

  <div v-if="logo" v-tooltip.top="{ value: logo.tt, showDelay: 300, hideDelay: 0 }">
    <font-awesome v-if="logo.type == 'fa'" :icon="logo.icon" :class="'text-xl ' + logo.color" />
    <i v-if="logo.type == 'pi'" :class="logo.icon + logo.color" />
  </div>

</template>

<style scoped>
/* Additionnal CSS in default.vue */
</style>
