<script setup lang="ts">
import reviewsApi from '~/api/reviews'
import type { Review } from '~/types/reviews'
import { formatPrettyDateTime } from '~/utils/format'

const reviews = defineModel<Review[]>('reviews')
const editReply = defineModel<Boolean>('editReply')
const replyToRid = defineModel<Number>('replyToRid')
const divRef = ref()

const props = defineProps({
  rid: Number,
  nid: Number,
  canReply: Boolean
})

const menu = ref();
const items = ref([
  {
    label: 'Options',
    items: [
      {
        label: 'Modifier',
        icon: 'pi pi-pen-to-square',
        command: () => {
          editReply.value = true
        }
      },
      {
        label: 'Supprimer',
        icon: 'pi pi-trash',
        command: () => {
          deleteReply()
        }
      }
    ]
  }
]);

const editMode = computed(() => {
  return editReply.value && replyToRid.value == props.rid
})

const save = async () => {
  const reply = divRef.value.innerText
  const review = reviews.value.find(r => r.rid === props.rid)
  // console.log(`await reviewsApi.saveReply(${props.rid}, { owner_reply: ${reply} })`)
  await reviewsApi.saveReply(props.rid, { owner_reply: reply })
  reviews.value = await reviewsApi.getReviews(props.nid)
  editReply.value = false
}

const hasReply = () => {
  const review = reviews.value.find(r => r.rid === props.rid)
  if (!review) return false
  return review.reply_created
}

const getReply = () => {
  const review = reviews.value.find(r => r.rid === props.rid)
  if (!review) return ""
  return review.owner_reply
}

const replyDate = () => {
  const review = reviews.value.find(r => r.rid === props.rid)
  if (!review.reply_created) return ""
  if (review.reply_created == review.reply_changed) {
    return "Répondu le " + formatPrettyDateTime(review.reply_created * 1000)
  } else {
    return "Modifié le " + formatPrettyDateTime(review.reply_changed * 1000)
  }
}
</script>

<template>

  <template v-if="hasReply()">
    <div class="flex justify-between">
      <div class="reviewer flex">
        <span class="text-sm">
          <i class="pi pi-arrow-right mr-4"></i> <span class="">Auteur·e</span> 
          <span class="ml-4 italic">{{ replyDate() }}</span>
        </span>
      </div>
    </div>
    <template v-if="!editMode">
      <div class="flex justify-between gap-10 ">
        <pre class="review-owner reply grow">{{ getReply() }}</pre>
      </div>
    </template>
    <template v-else>
      <pre ref="divRef" class="editable review-owner grow" contenteditable="true">{{ getReply() }}</pre>
      <div class="flex justify-end gap-2">
        <Button label="Annuler" @click="editReply = false" severity="secondary" />
        <Button label="Envoyer" @click="save" />
      </div>
    </template>
  </template>
  <template v-else-if="props.canReply">
    <template v-if="editMode">
      <i class="pi pi-arrow-right mr-4"></i>
      <span class="">Auteur·e</span>
      <span class="ml-4 italic">Créé maintenant</span>
      <pre ref="divRef" class="editable whitespace-pre-wrap" contenteditable="true"></pre>
      <div class="flex justify-end gap-2">
        <Button label="Annuler" @click="editReply = false" severity="secondary" />
        <Button label="Envoyer" @click="save" />
      </div>
    </template>


  </template>


</template>

<style scoped>
.editable {
  border: 1px solid #ccc;
  padding: 1em;
  margin: 0.7em 0em;
  min-height: 3rem;
  border: 1px solid green;
  border-left: 8px solid green;
}

.editable:empty::before {
  content: "​";
}

.reply {
  font-family: system-ui;
  /* border: 1px solid #ccc; */
  border-left: 8px solid #ddd;
  padding: 0.3em;
  margin: 0.3em 0em;
}
</style>
