<script setup lang="ts">
import reviewsApi from '~/api/reviews'
import type { Review } from '~/types/reviews'
import { critLogos, thumbList, thumb } from '~/utils/review'
import { useBibList } from '~/stores/bib'

const userStore = useCurrentUserStore()
const bibStore = useBibList(true)

const divRef = ref()

const visible = defineModel<boolean>('visible')
const rating = defineModel<number>('rating')
const crit = defineModel<object>('crit')
const reviews = defineModel<Review[]>('reviews')

const props = defineProps({
  nid: Number,
})

const save = async () => {
  if (hasContent()) {
    await editOwnReview()
  } else {
    await newReview()
  }
  visible.value = false
}

const currentReview = computed(() => {
  const cr = reviews.value!.find(r => r.uid === userStore.user!.uid)
  if (!cr) return null
  return cr
})

console.log("currentReview", currentReview.value)
crit.value = currentReview.value?.criteria || { fon: 0, uti: 0, per: 0, app: 0, clr: 0 }
rating.value = currentReview.value?.rating || 0


const newReview = async () => {
  const content = divRef.value.innerText
  const report = reportOffensive.value ? 'offensive' : reportClone.value ? 'clone' : null
  await reviewsApi.addReview({ nid: props.nid!, content, rating: rating.value, criteria: crit.value, report })
  bibStore.refresh(props.nid!)
  reviews.value = await reviewsApi.getReviews(props.nid!)
}

const editOwnReview = async () => {
  const content = divRef.value.innerText
  const report = reportOffensive.value ? 'offensive' : reportClone.value ? 'clone' : null
  await reviewsApi.editReview(currentReview.value!.rid, { content, rating: rating.value, criteria: crit.value, report })
  reviews.value = await reviewsApi.getReviews(props.nid)
}

const hasContent = () => {
  return !!currentReview.value
}

const getContent = () => {
  if (!currentReview.value) return ""
  return currentReview.value.content
}

const reportOffensive = ref(currentReview.value?.report == 'offensive');
const reportClone = ref(currentReview.value?.report == 'clone');

const select = (key: keyof typeof critLogos, v: number) => {
  crit.value![key] = v
}
</script>

<template>
  <div class="mx-8">

    <div class="reviewer">
      <Avatar :label="userStore.user.firstname[0] + userStore.user.lastname[0]" class="mr-2 cursor-pointer"
        :dt="{ width: '2.5rem', height: '2.5rem' }" style="color: var(--p-content-color)" />
      {{ userStore.user?.firstname }} {{ userStore.user?.lastname }}
    </div>

    <Rating v-model="rating" class="big-stars my-2" />

    <p class="italic my-2">Vous pouvez rédiger un avis sur ce qui a suscité votre intérêt pour cette activité.
      L'auteur·e pourra vous répondre.</p>
    <pre ref="divRef" class="editable whitespace-pre-wrap" contenteditable="true">{{ getContent() }}</pre>

    <div class="flex gap-4 mb-8">
      <div v-for="[key, value] of Object.entries(critLogos)" :key="key">
        <div v-tooltip.top="{ value: value.tooltip, showDelay: 100, hideDelay: 0 }">

          <div class='mx-2 justify-center cursor-pointer equal-width'>
            <font-awesome :icon="value.fa" /> {{ value.title }}
          </div>
          <div class='mx-2 mt-1'>
            <div class="parent justify-center">
              <div class="ho flex">
                <font-awesome :icon="thumb(crit[key]).fa" :class="thumb(crit[key]).class" />
              </div>
              <div class="surprise gap-2">
                <div v-for="t in thumbList">
                  <div class="flex cursor-pointer choose-thumb" @click="select(key, t.value)">
                    <font-awesome :icon="t.fa" :class="t.class" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <Fieldset legend="Signaler" :toggleable="true">
      <p class="m-1">
        <Checkbox v-model="reportClone" inputId="reportClone" name="report_clone" binary
          @click="reportOffensive = false" />
        <label for="reportClone">
          Clone : L'activité est un simple clone d'une autre activité de la bibliothèque (préciser le nom et l'auteur
          de
          l'original)
        </label>
      </p>
      <p class="m-1">
        <Checkbox v-model="reportOffensive" inputId="reportOffensive" name="report_offensive" binary
          @click="reportClone = false" />
        <label for="reportOffensive">
          Contenu problématique : L'activité propose un contenu inapproprié ou offensant
        </label>
      </p>
    </Fieldset>

    <div class="flex justify-end gap-2 mt-4">
      <Button label="Annuler" @click="visible = false" severity="secondary" />
      <Button v-if="rating" label="Envoyer" @click="save" />
      <Button v-else label="Envoyer" @click="save" disabled
        v-tooltip.top="{ value: 'Merci de donner entre une et cinq étoiles', showDelay: 100, hideDelay: 0 }" />
    </div>

  </div>
</template>

<style scoped>
.big-stars {
  --p-rating-icon-size: 1.6rem;
  --p-rating-gap: 0.8em;
}

.editable {
  border: 1px solid #ccc;
  padding: 1em;
  margin: 0.7em 0em;
  min-height: 3rem;
  border: 1px solid green;
  border-left: 8px solid green;
}

.editable:empty::before {
  content: "​";
}


.surprise {
  display: none;
  position: absolute;
  z-index: 1;
}

.parent {
  display: flex;
  position: relative;
}

.parent:hover .surprise {
  display: flex;
  position: absolute;
  top: 1.2em;
  /* background-color: white; */
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.choose-thumb {
  padding: 0.5em;
}

.choose-thumb:hover {
  background: var(--p-content-hover-background);
  border-radius: 1em;
  ;
}
</style>
