<script setup lang="ts">
import reviewsApi from '~/api/reviews'
import type { Review } from '~/types/reviews'
import { useBibList } from '~/stores/bib'

const bibStore = useBibList(true)

const reviews = defineModel<Review[]>('reviews')
const editReview = defineModel<boolean>('editReview')
const editReply = defineModel<boolean>('editReply')
const replyToRid = defineModel<number>('replyToRid')

const props = defineProps({
  rid: Number,
  nid: Number,
  canReply: Boolean,
  canReview: Boolean
})

const deleteReview = async () => {
  await reviewsApi.deleteReview(props.rid, props.nid)
  bibStore.refresh(props.nid!)
  reviews.value = await reviewsApi.getReviews(props.nid)
}

const hasReply = () => {
  const review = reviews.value.find(r => r.rid === props.rid)
  return !!review.owner_reply
}


const deleteReply = async () => {
  const review = reviews.value.find(r => r.rid === props.rid)
  // console.log(`await reviewsApi.deleteReply(${props.rid})`)
  await reviewsApi.deleteReply(props.rid)
  reviews.value = await reviewsApi.getReviews(props.nid)
}

const menu = ref();
const itemsReview = ref([
  {
    label: 'Modifier l\'avis',
    icon: 'pi pi-pen-to-square',
    command: () => {
      editReview.value = true
    }
  },
  {
    label: 'Supprimer l\'avis',
    icon: 'pi pi-trash',
    command: () => {
      deleteReview()
      editReview.value = false
    }
  }
]);
const itemsAddReply = ref([
  {
    label: 'Répondre à cet avis',
    icon: 'pi pi-arrow-right',
    command: () => {
      editReply.value = true
      replyToRid.value = props.rid
    }
  }
]);
const itemsReply = ref([
  {
    label: 'Modifier la réponse',
    icon: 'pi pi-pen-to-square',
    command: () => {
      editReply.value = true
      replyToRid.value = props.rid
    }
  },
  {
    label: 'Supprimer la réponse',
    icon: 'pi pi-trash',
    command: () => {
      deleteReply()
    }
  }
]);

const items = computed(() => {
  if (props.canReview) {
    return itemsReview.value
  }
  else if (props.canReply) {
    if (!hasReply()) {
      return itemsAddReply.value
    } else {
      return itemsReply.value
    }
  }
})

const toggle = (event) => {
  menu.value.toggle(event);
};

</script>

<template>

  <div v-if="items" class="card flex justify-center">
    <Button type="button" icon="pi pi-ellipsis-h" @click="toggle" aria-haspopup="true" aria-controls="overlay_menu"
      raised rounded severity="secondary" />
    <Menu ref="menu" id="overlay_menu" :model="items" :popup="true" />
  </div>

</template>

<style scoped></style>
