<script setup lang="ts">
import reviewsApi from '~/api/reviews'
import type { Review } from '~/types/reviews'
import type { Activity } from '~/types/activities'
import { formatPrettyDateTime } from '~/utils/format'
import { useBibList } from '~/stores/bib'

const userStore = useCurrentUserStore()

const iscomitee = computed(() => userStore.user?.roles.includes('bibliotheque_gest'))

const bibStore = useBibList(true)

const props = defineProps<{ activity: Activity }>()
const visible = defineModel<boolean>('visible')
const reviews = ref<Review[]>();
const crit = ref({ fon: 0, uti: 0, per: 0, app: 0, clr: 0 });
const rating = ref(0);

(async () => {
  reviews.value = await reviewsApi.getReviews(props.activity.nid)
  bibStore.refresh(props.activity.nid)
})()

const countReviews = computed(() => {
  return reviews.value?.length
})

// calcule la moyenne des ratings arrondie à 1 chiffre après la virgule
const averageReview = computed(() => {
  if (!reviews.value?.length) return 0
  return Math.round(reviews.value.reduce((acc, r) => acc + r.rating, 0) / reviews.value.length * 10) / 10
})

const editReview = ref(false)
const editReply = ref(false)
const replyToRid = ref(0)
const canReview = ref(true)
const canReply = props.activity.uid == userStore.user?.uid
watch(reviews, () => {
  if (userStore.isAuthenticated) {
    const noReview = !reviews.value?.length
    const firstReview = !reviews.value?.find(r => r.uid === userStore.user.uid)
    const notMine = props.activity.uid != userStore.user?.uid
    canReview.value = (noReview || firstReview) && notMine
  }
})

const reviewDate = (created: number, changed: date) => {
  if (created == changed) {
    return "Créé le " + formatPrettyDateTime(created * 1000)
  } else {
    return "Modifié le " + formatPrettyDateTime(changed * 1000)
  }
}

function reportIcons(s: string) {
  const reportIcons = {
    offensive: { icon: 'pi pi-flag-fill', tt: 'Contenu offensant' },
    clone: { icon: 'pi pi-clone', tt: 'Contenu dupliqué' }
  }
  return reportIcons[s] || { icon: '', tt: '' }
}

const borderMyslf = (r) => {
  return r.uid == userStore.user?.uid ? '2px solid var(--p-content-color)' : '0px'
}

function tags(c) {
  let o = {}
  return Object.keys(c).map(k => {
    if (c[k] == -1) {
      return { 'title': critLogos[k].title, 'severity': 'danger', 'fa': critLogos[k].fa }
    } else if (c[k] == 1) {
      return { 'title': critLogos[k].title, 'severity': 'success', 'fa': critLogos[k].fa }
    }
  })
}
</script>

<template>
  <!-- comité ssi depuis le bon rôle et bibliothèque depuis la bibliothèque -->
  <template v-if="!iscomitee || !visible">
    <BibUserReviews :activity="activity" />
  </template>

  <template v-else>
    <Tabs value="0">
      <TabList>
        <Tab value="0">Avis utilisateurs</Tab>
        <Tab value="1">Comité éditorial</Tab>
      </TabList>
      <TabPanels>
        <TabPanel value="0">
          <BibUserReviews :activity="activity" />
        </TabPanel>
        <TabPanel value="1">
          <BibComiteeReview :activity="activity" v-model:visible="visible" />
        </TabPanel>
      </TabPanels>
    </Tabs>
  </template>
</template>

<style scoped>
/* Additionnal CSS in default.vue */

.big-stars {
  --p-rating-icon-size: 1.6rem;
  --p-rating-gap: 0.8em;
}

.smallTag {
  --p-tag-font-size: 0.6rem;
}


.algn {
  align-items: center;
}

.reviewer {
  margin-top: 1em;
}

.rating {
  display: inline-block;
}

.review {
  font-family: system-ui;
  /* border: 1px solid #ccc; */
  border-left: 8px solid #ddd;
  padding: 0.3em;
  margin: 0.3em 0em;
}

.review-owner {
  font-family: system-ui;
  /* border: 1px solid #ccc; */
  border-left: 1px solid #ddd;
  padding: 0.3em;
  margin: 0.3em 0em;
}

.editable {
  border: 1px solid #ccc;
  padding: 1em;
  margin: 0.7em 0em;
  min-height: 3rem;
}

.message {
  border: 1px solid red;
  border-left: 8px solid red;
}

.discuss {
  border: 1px solid green;
  border-left: 8px solid green;
}

.editable:empty::before {
  content: "​";
}
</style>
