<script setup lang="ts">
import reviewsApi from '~/api/reviews'
import { useBibList } from '~/stores/bib'

const userStore = useCurrentUserStore()
const bibStore = useBibList(true)

const visible = defineModel<boolean>('visible')
const askMedal = defineModel<boolean>('askMedal')

const props = defineProps({
  nid: Number,
})

const save = async () => {
  await reviewsApi.askForMedal(props.nid)
  bibStore.refresh(props.nid)
  askMedal.value = true
  visible.value = false
}

</script>

<template>
  <div class="mx-8">

    <div class="reviewer">
      <Avatar :label="userStore.user.firstname[0] + userStore.user.lastname[0]" class="mr-2 cursor-pointer"
        :dt="{ width: '2.5rem', height: '2.5rem' }" style="color: var(--p-content-color)" />
      {{ userStore.user?.firstname }} {{ userStore.user?.lastname }}
    </div>
    <p class="my-2">
      Le comité éditorial de la bibliothèque peut attribuer le "label de qualité"
      <font-awesome icon="award" class="mx-2 text-2xl text-purple-700" />
      pour promouvoir les ressources qui répondent parfaitement aux cinq critères d’évaluation suivants :
    </p>
    <ul class="my-2">
      <li>
        <font-awesome icon="bullseye" class="mr-2" />
        Pertinence : Il y a adéquation entre le titre, les objectifs annoncés dans le descriptif de l’activité et le
        contenu
        de l’activité.
      </li>
      <li>
        <font-awesome icon="lightbulb" class="mr-2" />
        Fond : Un vrai travail de fond a été réalisé sur l’activité, y compris sur un thème simple. L’activité permet
        aux
        autres utilisateurs de gagner du temps, ou elle apporte des idées intéressantes pour traiter un thème.
      </li>
      <li>
        <font-awesome icon="recycle" class="mr-2" />
        Utilisabilité : L’activité est utilisable en l’état ou presque.
      </li>
      <li>
        <font-awesome icon="glasses" class="mr-2" />
        Clarté : Les consignes pour le public cible (élève, enseignant) sont claires.
      </li>
      <li>
        <font-awesome icon="spell-check" class="mr-2" />
        Apparence : La présentation est soignée. L’orthographe, la grammaire et la typographie sont de bonne qualité.
      </li>
    </ul>
    <p class="my-2">
      Si vous estimez que votre activité répond à ces critères,
      vous pouvez la soumettre au comité éditorial.
    </p>




    <div class="flex justify-end gap-2 mt-4">
      <Button label="Annuler" @click="visible = false" severity="secondary" />
      <Button label="Demander" @click="save">
        <font-awesome icon="award" class="mx-2 text-2xl" />
        Soumettre
      </Button>
    </div>

  </div>
</template>

<style scoped>
.big-stars {
  --p-rating-icon-size: 1.6rem;
  --p-rating-gap: 0.8em;
}

.editable {
  border: 1px solid #ccc;
  padding: 1em;
  margin: 0.7em 0em;
  min-height: 3rem;
  border: 1px solid green;
  border-left: 8px solid green;
}

.editable:empty::before {
  content: "​";
}


.surprise {
  display: none;
  position: absolute;
  z-index: 1;
}

.parent {
  display: flex;
  position: relative;
}

.parent:hover .surprise {
  display: flex;
  position: absolute;
  top: 1.2em;
  /* background-color: white; */
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.choose-thumb {
  padding: 0.5em;
}

.choose-thumb:hover {
  background: var(--p-content-hover-background);
  border-radius: 1em;
  ;
}
</style>
