<script setup lang="ts">
import reviewsApi from '~/api/reviews'
import type { Review } from '~/types/reviews'
import type { Activity } from '~/types/activities'
import type { ComiteeReview } from '~/types/reviews'
import { formatPrettyDateTime } from '~/utils/format'
import { useBibList } from '~/stores/bib'

const userStore = useCurrentUserStore()
const bibStore = useBibList(true)

const props = defineProps<{ activity: Activity }>()
const reviews = ref<Review[]>();
const crit = ref({ fon: 0, uti: 0, per: 0, app: 0, clr: 0 });
const rating = ref(0);

(async () => {
  reviews.value = await reviewsApi.getReviews(props.activity.nid)
})()

const countReviews = computed(() => {
  return reviews.value?.length
})

// calcule la moyenne des ratings arrondie à 1 chiffre après la virgule
const averageReview = computed(() => {
  if (!reviews.value?.length) return 0
  return Math.round(reviews.value.reduce((acc, r) => acc + r.rating, 0) / reviews.value.length * 10) / 10
})

const editReview = ref(false)
const promoteVisible = ref(false)
const editReply = ref(false)
const replyToRid = ref(0)
const canReview = ref(true)
const canAddReview = ref(!reviews.value?.find(r => r.uid === userStore.user.uid))
const canReply = props.activity.uid == userStore.user?.uid
const isMine = props.activity.uid == userStore.user?.uid
watch(reviews, () => {
  if (userStore.isAuthenticated) {
    canAddReview.value = !reviews.value?.find(r => r.uid === userStore.user.uid)
    const notMine = props.activity.uid != userStore.user?.uid
    canReview.value = notMine
  }
})

const reviewDate = (created: number, changed: date) => {
  if (created == changed) {
    return "Créé le " + formatPrettyDateTime(created * 1000)
  } else {
    return "Modifié le " + formatPrettyDateTime(changed * 1000)
  }
}

function reportIcons(s: string) {
  const reportIcons = {
    offensive: { icon: 'pi pi-flag-fill', tt: 'Contenu offensant' },
    clone: { icon: 'pi pi-clone', tt: 'Contenu dupliqué' }
  }
  return reportIcons[s] || { icon: '', tt: '' }
}

const borderMyslf = (r) => {
  return r.uid == userStore.user?.uid ? '2px solid var(--p-content-color)' : '0px'
}

function tags(c) {
  let o = {}
  return Object.keys(c).map(k => {
    if (c[k] == -1) {
      return { 'title': critLogos[k].title, 'severity': 'danger', 'fa': critLogos[k].fa }
    } else if (c[k] == 1) {
      return { 'title': critLogos[k].title, 'severity': 'success', 'fa': critLogos[k].fa }
    }
  })
}

const review = ref<ComiteeReview>({});
const medal = ref(false);
const askMedal = ref(false);

(async () => {
  review.value = await reviewsApi.getComiteeReview(props.activity.nid)
  if (!review.value) {
    review.value = { message: "", discuss: "", status: "debate" }
  }
  medal.value = review.value.status == "medal"
  askMedal.value = review.value.ask
})()

const unPromote = async () => {
  await reviewsApi.askForMedal(props.activity.nid)
  bibStore.refresh(props.activity.nid)
  askMedal.value = false
}

</script>

<template>
  <div class="flex justify-between gap-3 mb-5">
    <div class="flex justify-start gap-3 mb-5">
      Avis moyen : {{ averageReview }}
      <Rating v-model="averageReview" disabled class="big-stars" />
      <div class="text-gray-500"> (sur {{ countReviews }} avis)</div>
    </div>
    <div v-if="medal" class="flex justify-end gap-3 mb-5">
      Ressource de grande qualité
      <font-awesome icon="award" class="mx-2 text-4xl text-purple-700" />
    </div>
  </div>

  <template v-if="canReview" class="mb-10 ">
    <div class="mb-10 ">
      <Button v-if="canAddReview" @click="editReview = true">
        <i class="pi pi-comments" style="font-size: 1rem" />
        Ajouter un avis
      </Button>
    </div>
    <Dialog v-model:visible="editReview" modal header="Mon avis" :style="{ width: '80%' }">
      <BibReviewEdit v-model:reviews="reviews" v-model:crit="crit" v-model:rating="rating" v-model:visible="editReview"
        :nid="props.activity.nid" />
    </Dialog>
  </template>
  <template v-else>
    <template v-if="!medal && isMine">
      <div v-if="askMedal" class="mb-10 ">
        <p class="my-2">
          Vous avez demandé au comité éditorial une étude d'éligibilité pour le label de
          qualité ? Cette requête peut prendre du temps. Merci de votre compréhension.
        </p>
        <Button label="Annuler la demande" @click="unPromote" severity="warn" />
      </div>
      <div v-else class="mb-10 ">
        <p class="my-2">
          Vous souhaitez soumettre votre activité afin que le comité éditorial étudie son éligibilité pour le label de
          qualité ?

        </p>
        <Button @click="promoteVisible = true">
          <font-awesome icon="award" class="text-2xl" />
          Continuer
        </Button>
      </div>

      <Dialog v-model:visible="promoteVisible" modal
        header="Label de Qualité - Soumettre mon activité au comité éditorial" :style="{ width: '40%' }">
        <BibReviewPromote v-model:visible="promoteVisible" v-model:askMedal="askMedal" :nid="props.activity.nid" />
      </Dialog>
    </template>
  </template>

  <div v-for="r in reviews">
    <div class="mt-4 w-full">
      <div class="flex justify-between mb-2">
        <div class="reviewer flex algn ">
          <Avatar :label="r.prenom[0] + r.nom[0]" class="mr-2 cursor-pointer border-2 border-gray-200"
            :dt="{ width: '2.5rem', height: '2.5rem' }"
            :style="'color: var(--p-content-color); border: ' + borderMyslf(r)" />
          <span class="text-sm">
            <span class="">{{ r.prenom }} {{ r.nom }}</span>
            <span class="ml-4 italic">{{ reviewDate(r.created, r.changed) }}</span>
          </span>
        </div>
        <BibReviewActions v-model:reviews="reviews" v-model:editReview="editReview" v-model:editReply="editReply"
          v-model:replyToRid="replyToRid" :rid="r.rid" :nid="props.activity.nid" :canReply="canReply"
          :canReview="r.uid == userStore.user?.uid" />

      </div>
      <div class="flex justify-between gap-10 ">
        <pre class="review grow">{{ r.content }}</pre>
        <div class="flex algn gap-4">
          <i :class="reportIcons(r.report).icon + ' text-red-600'"
            v-tooltip.bottom="{ value: reportIcons(r.report).tt, showDelay: 100, hideDelay: 0 }"></i>
          <div class="flex algn gap-2">
            <Rating v-model="r.rating" disabled />
          </div>
        </div>
      </div>
      <div class="flex mb-6 smallTag justify-end">
        <div v-for="t in tags(r.criteria)">
          <Tag v-if="t" :severity="t?.severity" rounded class="ml-2">
            <font-awesome :icon="t.fa" :class="t.class" />{{ t?.title }}
          </Tag>
        </div>
      </div>
    </div>

    <div class="ml-12">
      <BibReply v-model:reviews="reviews" v-model:editReply="editReply" v-model:replyToRid="replyToRid" :rid="r.rid"
        :nid="props.activity.nid" :canReply="props.activity.uid == userStore.user?.uid" />
    </div>

  </div>
</template>

<style scoped>
/* Additionnal CSS in default.vue */

.big-stars {
  --p-rating-icon-size: 1.6rem;
  --p-rating-gap: 0.8em;
}

.smallTag {
  --p-tag-font-size: 0.6rem;
}


.algn {
  align-items: center;
}

.reviewer {
  margin-top: 1em;
}

.rating {
  display: inline-block;
}

.review {
  font-family: system-ui;
  /* border: 1px solid #ccc; */
  border-left: 8px solid #ddd;
  padding: 0.3em;
  margin: 0.3em 0em;
}

.review-owner {
  font-family: system-ui;
  /* border: 1px solid #ccc; */
  border-left: 1px solid #ddd;
  padding: 0.3em;
  margin: 0.3em 0em;
}

.editable {
  border: 1px solid #ccc;
  padding: 1em;
  margin: 0.7em 0em;
  min-height: 3rem;
}

.message {
  border: 1pxsolid red;
  border-left: 8px solid red;
}

.discuss {
  border: 1px solid green;
  border-left: 8px solid green;
}

.editable:empty::before {
  content: "​";
}
</style>
