<script setup lang="ts">
import { useBibList } from '~/stores/bib'

const bibStore = useBibList(true)

const props = defineProps<{
  data: {
    nid: number
  }
}>()

const activitiesStore = useActivitiesStore()

const visible = defineModel<boolean>()

const editUrl = computed(() => `/web/c-hdls/node/${props.data.nid}/edit`)

const close = () => {
  visible.value = false
}

watch(visible, (v, ov) => {
  if (v) {
    drupal.setCloseHandler(close)
  }
  else {
    if (ov) {
      activitiesStore.loadWholeActivity(props.data.nid)
      bibStore.refresh(props.data.nid)
    }
    drupal.removeCloseHandler(close)
  }
})

onBeforeUnmount(() => {
  drupal.removeCloseHandler(close)
})
</script>

<template>
  <DialogIframe
    v-model="visible"
    header="Modification des paramètres"
    :url="editUrl"
  />
</template>
