<template>
  <div
    ref="popov"
    class="gap-3 w-25rem max-h-72 overflow-y-scroll"
  >
    <Tree
      :value="props.tags"
      :dt="{ 'tree.padding': '0', 'node.padding': '0.1rem' }"
      :pt="{ root: 'treePadd', rootChildren: 'treePadd', nodeLabel: 'nlabel' }"
    >
      <template #default="slotProps">
        <Button
          :key="slotProps.node.id"
          severity="secondary"
          :text="estNullePart(slotProps.node)"
          :outlined="!estCommun(slotProps.node) && !estNullePart(slotProps.node)"
          :dt="{ 'padding.x': '0.4rem', 'padding.y': '0.4rem' }"
          pt:root:class="shrink w-full"
          @click="toggleTag(slotProps.node)"
        >
          <template #default>
            <div class="flex flex-row items-center justify-start w-full pr-2">
              <i
                class="pi pi-tag mr-4"
                :style="'color :'+slotProps.node.color"
              />
              <span>{{ slotProps.node.label }}</span>
            </div>
          </template>
        </Button>
      </template>
    </Tree>
  </div>
</template>

<script lang="ts" setup>
import type { Tag } from '~/types/tags'

const selection = defineModel('selection')
const props = defineProps<{ tags: Tag[] }>()

console.log('selection', selection.value)

const estCommun = tag => selection.value.every(activite => activite.tags.includes(tag.id))
const estNullePart = tag => selection.value.every(activite => !activite.tags.includes(tag.id))

function toggleTag(tag: Tag) {
  if (estCommun(tag)) {
    selection.value.forEach((activite) => {
      activite.tags = activite.tags.filter(id => id !== tag.id)
    })
  }
  else if (estNullePart(tag) || (!estCommun(tag) && !estNullePart(tag))) {
    selection.value.forEach((activite) => {
      if (!activite.tags.includes(tag.id)) {
        activite.tags.push(tag.id)
      }
    })
  }
}
</script>

<style>
.treePadd {
  padding: 0 !important;
}

.nlabel {
  flex-grow: 2;
}
</style>
