<script setup>
import sesameApi from '@capytale/activity.js/backend/capytale/sesame'
import { FilterMatchMode } from '@primevue/core/api'
import { formatPrettyDateTime } from '~/utils/format'
const confirmW = useConfirmWrapper()

const toast = useToast()

const props = defineProps({
  authenticated: Boolean,
  classes: Array,
})

const uList = defineModel()

const filters = ref({
  global: { value: null, matchMode: FilterMatchMode.CONTAINS },
  lastname: { value: null, matchMode: FilterMatchMode.CONTAINS },
  firstname: { value: null, matchMode: FilterMatchMode.CONTAINS },
  classe: { value: null, matchMode: FilterMatchMode.IN },
})

const editingRows = ref([])
const onRowEditSave = async (event) => {
  const { data: old, newData } = event
  const uid = newData.uid

  // console.log('newdata', old, newData)

  try {
    const data = { uid }
    if (pwd.value != '') {
      data['pwd'] = pwd.value
      pwd.value = ''
    }
    const fields = ['lastname', 'firstname', 'classe']
    for (const field of fields) {
      if (old[field] != newData[field]) {
        data[field] = newData[field]
        old[field] = newData[field]
      }
    }
    // console.log('onRowEditSave', data)
    await sesameApi.updateUser(data)
  }
  catch (e) {
    // console.log('onRowEditSave', e.payload)
    // uList.value[index] = old
    if (e.payload && e.payload.code == 3) {
      toast.add({ severity: 'error', summary: 'Échec. Rechargez la page', detail: 'Le mot de passe doit contenir au moins 3 types de caractères parmi les types de caractères suivants : lettres minuscules, lettres majuscules, chiffres, caractères spéciaux. La longueur du mot de passe doit être d\'au moins 12 caractères.' })
    }
    else {
      toast.add({ severity: 'error', summary: 'Échec. Rechargez la page', detail: `uid = ${uid} - ${e}` })
    }
  }
}

const selectedUsers = ref([])
const nbselected = () => {
  if (selectedUsers.value.length == 0) return null
  if (selectedUsers.value.length == 1) return '1 élément sélectionné '
  return selectedUsers.value.length + ' éléments sélectionnés '
}

const classEditDialog = ref(false)
const toggleClasseEdit = () => {
  classEditDialog.value = !classEditDialog.value
}
const classe = ref('')
const handleClasseEdit = () => {
  const uids = [...selectedUsers.value.map(o => o.uid)]
  try {
    sesameApi.updateMultiUsers({ uids, classe: classe.value })
    uList.value.forEach((o) => {
      if (uids.includes(o.uid)) {
        o.classe = classe.value
      }
    })
  }
  catch (e) {
    toast.add({ severity: 'error', summary: 'Échec', detail: `${e}` })
  }
  classe.value = ''
  toggleClasseEdit()
}
const handleDelete = async () => {
  if (await confirmW({
    header: 'Confirmation de suppression',
    message: 'Les comptes sélectionnés perdront leur accès à Capytale ainsi que tous leurs travaux.',
    acceptLabel: 'Supprimer',
    severity: 'danger',
  })
  ) {
    const uids = [...selectedUsers.value.map(o => o.uid)]

    const chunkSize = 10;
    // Divise uids en sous-tableaux de taille chunkSize
    const chunkedUids = [];
    for (let i = 0; i < uids.length; i += chunkSize) {
      chunkedUids.push(uids.slice(i, i + chunkSize));
    }
    for (let chunk of chunkedUids) {
      console.log('delete chunk', chunk)
      sesameApi.deleteMultiUsers(chunk)
      await new Promise(resolve => setTimeout(resolve, 500))
      uList.value = uList.value.filter(o => !chunk.includes(o.uid))
    }
    selectedUsers.value = []
  }
}

const pwd = ref('')
</script>

<template>
  <template v-if="!props.authenticated">
    <div class="vip">
      Vous devez être connecté avec le rôle enseignant pour voir la liste des codes Sésame valides.
    </div>
  </template>
  <template v-else>
    En cliquant sur le crayon de chacune des lignes du tableau, vous pouvez :
    <ul class="list-disc ml-4">
      <li>
        modifier les nom, prénom et classe de l'élève ;
      </li>
      <li>
        modifier le mot de passe pour les élèves qui n'ont pas saisi d'adresse
        email à la création de leur compte.
      </li>
    </ul>
    Avec les cases à cocher, vous pouvez en lot :
    <ul class="list-disc ml-4">
      <li>
        modifier la classe des élèves ;
      </li>
      <li>
        supprimer des comptes ainsi que leurs contenus. ATTENTION : cette action est irréversible et vous en prenez la
        responsabilité.

      </li>
    </ul>

    <DataTable v-model:selection="selectedUsers" v-model:filters="filters" v-model:editing-rows="editingRows"
      :value="uList" sort-field="classe" :sort-order="-1" filter-display="menu"
      :global-filter-fields="['lastname', 'firstname', 'classe']" table-style="min-width: 50rem" edit-mode="row"
      data-key="uid" :pt="{
        table: { style: 'min-width: 50rem' },
        column: {
          bodycell: ({ state }) => ({
            style: state['d_editing'] && 'padding-top: 0.75rem; padding-bottom: 0.75rem',
          }),
        },
      }" paginator :rows="40" :rows-per-page-options="[1, 10, 40, 100]"
      paginator-template="RowsPerPageDropdown FirstPageLink PrevPageLink CurrentPageReport NextPageLink LastPageLink"
      current-page-report-template="{first} à {last} sur {totalRecords}" @row-edit-save="onRowEditSave">
      <template #header>
        <Toolbar>
          <template #start>
            <div v-if="nbselected()">
              <span class="mr-2">{{ nbselected() }}</span>
              <Button label="Modifier la classe" icon="pi pi-pencil" class="mr-2"
                v-tooltip.bottom="'Modifier pour tous les élèves sélectionnés'" severity="primary" outlined
                @click="toggleClasseEdit" />
              <Button label="Supprimer" icon="pi pi-times-circle" class="mr-2" severity="danger" outlined
                v-tooltip.bottom="'Supprimer tous les élèves sélectionnés'" @click="handleDelete" />
            </div>
          </template>
          <template #end>
            <IconField>
              <InputIcon> <i class="pi pi-search" /> </InputIcon>
              <InputText v-model="filters['global'].value" placeholder="Filtre rapide" />
            </IconField>
          </template>
        </Toolbar>
      </template>
      <Column selection-mode="multiple" header-style="width: 3rem" />
      <Column field="lastname" sortable header="Nom" :show-filter-match-modes="false">
        <template #editor="{ data, field }">
          <InputText v-model="data[field]" fluid />
        </template>
        <template #filter="{ filterModel, filterCallback }">
          <InputText v-model="filterModel.value" type="text" placeholder="Rechercher" class="smallit"
            @input="filterCallback()" />
        </template>
      </Column>
      <Column field="firstname" sortable header="Prénom" :show-filter-match-modes="false">
        <template #editor="{ data, field }">
          <InputText v-model="data[field]" fluid />
        </template>
        <template #filter="{ filterModel, filterCallback }">
          <InputText v-model="filterModel.value" type="text" placeholder="Rechercher" class="smallit"
            @input="filterCallback()" />
        </template>
      </Column>
      <Column field="classe" sortable header="Classe" :show-filter-match-modes="false">
        <template #editor="{ data, field }">
          <InputText v-model="data[field]" fluid />
        </template>
        <template #filter="{ filterModel, filterCallback }">
          <MultiSelect v-model="filterModel.value" :options="props.classes" option-label="name" option-value="name"
            placeholder="Choisir" style="min-width: 14rem" :max-selected-labels="1" class="smallit"
            @change="filterCallback()">
            <template #option="slotProps">
              <span>{{ slotProps.option.name }}</span>
            </template>
          </MultiSelect>
        </template>
      </Column>
      <Column field="username" sortable header="Nom d'utilisateur">
        <template #body="p">
          {{ p.data.has_mail ? '*email*' : p.data.username }}
        </template>
      </Column>
      <Column field="has_mail" header="Mot de passe">
        <template #body="p">
          {{ p.data.has_mail ? '🚫' : '••••••' }}
        </template>
        <template #editor="{ data, field }">
          <Password v-model="pwd" fluid :disabled="data[field]" />
        </template>
      </Column>
      <Column field="validity.grace" sortable header="Expiration">
        <template #body="p">
          {{ formatPrettyDateTime(p.data.validity.grace, false) }}
        </template>
      </Column>
      <Column :row-editor="true" style="width: 10%; min-width: 8rem" body-style="text-align:center" />
    </DataTable>
  </template>

  <Dialog v-model:visible="classEditDialog" :style="{ width: '750px' }" header="Modifier" :modal="true">
    <Card class="my-4">
      <template #content>
        <div class="flex flex-col gap-2">
          <label for="classe">Nom de la classe à appliquer aux élèves séléctionnés</label>
          <InputText id="classe" v-model="classe" />
        </div>
        <div class="flex flex-row gap-2 my-4">
          <Button label="Valider" @click="handleClasseEdit" />
          <Button type="button" label="Annuler" severity="secondary" @click="toggleClasseEdit" />
        </div>
      </template>
    </Card>
  </Dialog>
</template>

<style>
.smallit {
  width: 8em;
}
</style>
