<template>
  <Dialog v-model:visible="visible" modal dismissable-mask maximizable style="max-width: 90%">
    <template #header>
      <h2>
        Évaluations
        <Button icon="pi pi-external-link" label="CSV" text @click="exportCSV" />
      </h2>
    </template>
    <DataTable ref="dt" :value="data">
      <Column field="name" header="Élève" />
      <Column field="evalProf" body-style="text-align: center;">
        <template #header>
          <span class="cursor-help"
            v-tooltip.top="{ value: 'Évaluation manuelle de l\'enseignant', showDelay: tooltipDelay, hideDelay: 0 }">
            Éval ens.
          </span>
        </template>
      </Column>
      <Column field="evalAuto" body-style="text-align: center;">
        <template #header>
          <span class="cursor-help"
            v-tooltip.top="{ value: 'Évaluation totale automatique remontée par l\'activité', showDelay: tooltipDelay, hideDelay: 0 }">
            Éval auto
          </span>
        </template>
      </Column>
      <Column v-for="(e, idx) in evals" :key="e.label" :field="idx.toString()">
        <template #header>
          <span v-tooltip.top="{ value: e.title, showDelay: tooltipDelay, hideDelay: 0 }" class="cursor-help">
            {{ e.label }}
          </span>
        </template>
        <template #body="slotProps">
          <Tag v-tooltip.top="{ value: e.title, showDelay: tooltipDelay, hideDelay: 0 }"
            :style="getScoreStyle(slotProps.data[idx], e.scoreMax)" class="cursor-help">
            <span>
              {{ scoreFormated(slotProps.data[idx], e.scoreMax) }}
            </span>
          </Tag>
        </template>
      </Column>
    </DataTable>
  </Dialog>
</template>

<script setup lang="ts">
import { getScoreStyle, scoreFormated } from '~/utils/evaluation'

const tooltipDelay = 400
const AssignmentsStore = useAssignmentsStore()
const visible = defineModel<boolean>()

const evals = AssignmentsStore.detailedEvaluations.evaluations.map((e, i) => {
  const t = e.title ? e.label + ": " + e.title : e.label
  return { label: e.label, scoreMax: e.scoreMax, title: t }
})

const data = computed(() => {
  return AssignmentsStore.detailedEvaluations.students.map((el, idx) => {
    const name = el.firstname + ' ' + el.lastname
    const evalProf = AssignmentsStore.assignments.tab.find(s => s.sa_uid == el.uid).evaluation
    const evalAuto = el.totalScore
    const evals = AssignmentsStore.detailedEvaluations.evaluations.map((e, i) => {
      return el.evaluations[i].score
    })
    return { name, evalProf, evalAuto, ...evals }
  })
})

const dt = ref()
const exportCSV = () => {
  dt.value.exportCSV()
}
</script>
