<script setup>
import { useToast } from 'primevue/usetoast'

const toast = useToast()

const AssignmentsStore = useAssignmentsStore()

const props = defineProps({
  data: Object,
  required: true,
})

const divRef = ref()
const value = computed(() => props.data.appreciation)

const save = async () => {
  const appr = divRef.value.innerText
  if (value.value != appr && !(value.value == null && appr == '\n')) {
    try {
      await AssignmentsStore.saveAppr(props.data.sa_nid, appr)
      toast.add({ severity: 'success', summary: 'Appréciation enregistrée ', life: 2000 })
    }
    catch (e) {
      toast.add({ severity: 'error', summary: 'Échec enregistrement de l\'appréciation' })
    }
  }
}
</script>

<template>
  <div ref="divRef"
    v-tooltip.top="{ value: 'Cliquer pour modifier. Quitter pour enregistrer.', showDelay: 300, hideDelay: 0 }"
    contenteditable="true" class="editable whitespace-pre-wrap" @click.stop @blur="save" aria-label="appreciation">
    {{ value
    }}
  </div>
</template>

<style scoped>
.editable {
  border: 1px solid #ccc;
  padding: 5px;
  min-height: 2rem;
  border-radius: 5px;
}

.editable:empty::before {
  content: "​";
}
</style>
