<script setup>
import { useToast } from 'primevue/usetoast'
import { getScoreStyle } from '~/utils/evaluation'

const toast = useToast()

const AssignmentsStore = useAssignmentsStore()

const props = defineProps({
  data: Object,
  required: true,
})

const currEval = ref(props.data.evaluation)

const validateAutoScore = async () => {
  // if (currEval.value == theTotal.value + "/" + theMax.value) {
  //   toast.add({ severity: 'info', summary: 'évaluation automatique déjà validée', life: 2000 });
  //   return
  // }
  try {
    currEval.value = theTotal.value.toLocaleString() + "/" + theMax.value
    divRef.value.innerText = currEval.value
    await AssignmentsStore.saveEval(props.data.sa_nid, currEval.value)

    toast.add({ severity: 'success', summary: 'évaluation automatique validée', life: 2000 });
  } catch (e) {
    toast.add({ severity: 'error', summary: 'échec validation de l\'évaluation' });
  }
}

const manualSave = async () => {
  const appr = divRef.value.innerText
  if (currEval.value != appr && !(currEval.value == null && appr == '\n')) {
    try {
      await AssignmentsStore.saveEval(props.data.sa_nid, appr)
      toast.add({ severity: 'success', summary: 'Évaluation enregistrée', life: 2000 })
    }
    catch (e) {
      toast.add({ severity: 'error', summary: 'Échec enregistrement de l\'évaluation' })
    }
  }
}

const theTotal = computed(() =>
  AssignmentsStore.detailedEvaluations.students.find(s => s.uid == props.data.sa_uid).totalScore
)

const theMax = computed(() => {
  const evals = AssignmentsStore.detailedEvaluations.evaluations.map((e, i) => {
    return { label: e.label, scoreMax: e.scoreMax, title: e.label + ": " + e.title }
  })
  return evals.reduce((acc, el) => acc + el.scoreMax, 0)
})

const currLine = ref()
if (AssignmentsStore.detailedEvaluations) {
  currLine.value = AssignmentsStore.detailedEvaluations.students.find(s => s.uid == props.data.sa_uid)
}

const evals = ref()
if (AssignmentsStore.detailedEvaluations) {
  evals.value = currLine.value.evaluations
}

const op = ref()
const toggle = (event) => {
  op.value.toggle(event)
}

const divRef = ref()
</script>

<template>
  <div class="flex flex-row gap-2">
    <div ref="divRef"
      v-tooltip.top="{ value: 'Cliquer pour modifier. Quitter pour enregistrer.', showDelay: 300, hideDelay: 0 }"
      contenteditable="true" class="editable whitespace-pre-wrap" @click.stop @blur="manualSave"
      aria-label="evaluation">
      {{ currEval }}
    </div>
    <template v-if="AssignmentsStore.detailedEvaluations">
      <Button v-if="theTotal" @click.stop="validateAutoScore" icon="pi pi-arrow-left" severity="secondary" text
        v-tooltip.top="{ value: 'Valider l\'évaluation automatique', showDelay: 100, hideDelay: 0 }">
        <div class="relative" style="scale: 1.5;">
          <i class="pi pi-clone" />
          <i class="pi pi-arrow-left absolute" style="top: 23%; left:16%; font-size: 45%" />
        </div>
      </Button>
      <Button v-else icon="pi pi-arrow-left" severity="secondary" text disabled
        v-tooltip.top="{ value: 'Pas d\'évaluation automatique', showDelay: 100, hideDelay: 0 }">
        <div class="relative" style="scale: 1.5;">
          <i class="pi pi-clone" />
          <i class="pi pi-arrow-left absolute" style="top: 23%; left:16%; font-size: 45%" />
        </div>
      </Button>
      <Button @click="toggle" :style="getScoreStyle(theTotal, theMax)" outlined
        v-tooltip.top="{ value: 'Voir les détails de l\'évaluation automatique', showDelay: 100, hideDelay: 0 }">
        {{ scoreFormated(theTotal, theMax) }}
        <i class="pi pi-angle-down" />
      </Button>
      <Popover v-if="AssignmentsStore.detailedEvaluations" ref="op">
        <DataTable
          :value="AssignmentsStore.detailedEvaluations.evaluations.map((el, idx) => ({ ...el, score: evals[idx].score }))">
          <Column field="label" header="Exercice">
            <template #body="slotProps">
              {{ slotProps.data.label }} {{ slotProps.data.title ? `: ${slotProps.data.title}` : "" }}

            </template>
          </Column>
          <Column field="score" header="Note">
            <template #body="slotProps">
              <Tag :style="getScoreStyle(slotProps.data.score, slotProps.data.scoreMax)" outlined>
                <span>
                  {{ scoreFormated(slotProps.data.score, slotProps.data.scoreMax) }}
                </span>
              </Tag>
            </template>
          </Column>
        </DataTable>
      </Popover>
    </template>
  </div>
</template>

<style scoped>
.editable {
  border: 1px solid #ccc;
  padding: 5px;
  min-height: 2rem;
  min-width: 10rem;
  border-radius: 5px;
}

.editable:empty::before {
  content: "​";
}

.slider p {
  display: inline-block;
}

.slider:hover p {
  animation: slide 0.8s linear infinite;
}

@keyframes slide {
  from {
    transform: translateX(70%);
  }

  to {
    transform: translateX(-70%);
  }
}
</style>
