<script setup>
const props = defineProps({
  data: Object,
  required: true,
})
const AssignmentsStore = useAssignmentsStore()
const tags = useTagsStore()
const corbeilleTid = () => {
  return tags.tags.find(o => o.label === 'Corbeille').id
}
</script>

<template>
  <template v-if="props.data.tags.includes(corbeilleTid())">
    <Button @click="AssignmentsStore.unHide(props.data.sa_nid, corbeilleTid())">
      Désarchiver
    </Button>
  </template>
  <template v-else>
    <!-- addTag({{ props.data.sa_nid }}, {{ corbeilleTid() }}) -->
    <Button
      icon="pi pi-eye-slash"
      text
      @click="AssignmentsStore.hide(props.data.sa_nid, corbeilleTid())"
    />
  </template>
</template>
