<script setup lang="ts">
const AssignmentsStore = useAssignmentsStore()

const props = defineProps < { data: any, nid: Number } > ()
const visible = ref(false)

const close = () => {
  visible.value = false
}

watch(visible, (v, ov) => {
  if (v) {
    drupal.setCloseHandler(close)
  }
  else {
    if (ov) {
      // Ici les actions à faire lorsque le metaPLayer se referme
      AssignmentsStore.getAssignments(props.nid)
      // TODO : ne pas recharger toutes les lignes mais seulement celle du data.sa_nid
    }
    drupal.removeCloseHandler(close)
  }
})

onBeforeUnmount(() => {
  drupal.removeCloseHandler(close)
})

const openInNewTab = () => {
  window.open(props.data.player, '_blank')
}
</script>

<template>
  <div>
    <a v-tooltip.top="{ value: 'Ctrl+clic pour ouvrir dans un nouvel onglet', showDelay: 300, hideDelay: 100 }"
      :href="data.player" class="clickable" aria-controls="overlay_menu" @click.prevent.self
      @click.exact.stop="visible = true" @click.ctrl.stop="openInNewTab" @click.meta.stop="openInNewTab">
      {{ data.fullname }}
    </a>
    <FullIframe v-model="visible" :url="data.player" :position="'top'" />
  </div>
</template>
